mixin footer()
	footer
		.footer-fixed
			button#makeOrderBtn.defBtn.Btn-Flamenco сделать заказ
		.footer
			.footer__top&attributes(attributes)
				.container
					.footer__top-inner
						ul.def-ul
							li.firstStage
								h3
									a.defLink.arrowDown(href='#') Каталог
								ul.def-ul
									li
										a.defLink.h-Flamenco-1(href='#') Душевые кабины
									li
										a.defLink.h-Flamenco-1(href='#') Унитазы
									li
										a.defLink.h-Flamenco-1(href='#') Ванны
									li
										a.defLink.h-Flamenco-1(href='#') Раковины
									li
										a.defLink.h-Flamenco-1(href='#') Душевые ограждения
									li
										a.defLink.h-Flamenco-1(href='#') Шторки для ванн
									li
										a.defLink.h-Flamenco-1(href='#') Поддоны
									li
										a.defLink.h-Flamenco-1(href='#') Зеркала
							li.firstStage
								h3
									a.defLink.arrowDown(href='#') О нас
								ul.def-ul
									li
										a.defLink.h-Flamenco-1(href='#') О компании
									li
										a.defLink.h-Flamenco-1(href='#') Новости 
							li.firstStage
								h3
									a.defLink.arrowDown(href='#') Контакты
								ul.def-ul
									li
										a.defLink.h-Flamenco-1(href='#') Контактная информация
									li
										a.defLink.h-Flamenco-1(href='#') Напишите нам
									li
										a.defLink.h-Flamenco-1(href='#') Обратный звонок
									li
										a.defLink.h-Flamenco-1(href='#') Написать руководителю
							li.firstStage
								h3
									a.defLink(href='#') Доставка
								h3
									a.defLink(href='#') Личный кабинет
								h3
									a.defLink(href='#')
										img(src="assets/images/stars.png", alt="") 
							li.firstStage
								.contacts
									h3 Адрес
									p.f-text Здесь будет адрес в несколько строк улица, дом
									h3 ОПТ
									a.defLink.h-Flamenco-1.phone(href='tel:8(495)3747472') 8 (495) 374-74-72
									span Каждый день с 8:00 до 18:00 
									a.defLink.h-Flamenco-1(href='mailto:pochta@mail.ru') pochta@mail.ru
									h3 Розница
									a.defLink.h-Flamenco-1.phone(href='tel:8(495)3747472') 8 (495) 374-74-72
									span Каждый день с 8:00 до 18:00 
									a.defLink.h-Flamenco-1(href='mailto:pochta@mail.ru') pochta@mail.ru
									button.defBtn.Btn-Flamenco заказать звонок


									//- ul.def-ul.social-media
									//- 	li
									//- 		a(href='#')
									//- 			img(src='../../../assets/svg/social-media01.svg' alt='')
									//- 	li
									//- 		a(href='#')
									//- 			img(src='../../../assets/svg/social-media02.svg' alt='')
									//- 	li
									//- 		a(href='#')
									//- 			img(src='../../../assets/svg/social-media03.svg' alt='')
									//- 	li
									//- 		a(href='#')
									//- 			img(src='../../../assets/svg/social-media04.svg' alt='')
									//- 	li
									//- 		a(href='#')
									//- 			img(src='../../../assets/svg/social-media05.svg' alt='')
			.footer__bottom
				.container
					.row
						.col-lg-2
							p.copyright © 2020 Grossman
						.col-lg-2
							a.privacy(href="#") Политика конфиденциальности
						.col-lg-5
							.copyright-gray
								a.privacy(href="#") Создание сайта
								span  &minus;&nbsp;Комапания &laquo;ВебПульт&raquo;&nbsp;/ 
								a.privacy  Продвижение&nbsp;и&nbsp;реклама&nbsp;сайта
								span &nbsp; &minus;&nbsp;РА&nbsp;&laquo;Профит&raquo;
						.col-lg-3
							+soc
								+item-sos('youtube')
								+item-sos('vk')
								+item-sos('fb')
								+item-sos('instagram')