mixin sCardProduct(data)
	.card-product__page
		div
			.card-product
				.card-product__slider
					.card-product__slider-inner
						.swiper-container.gallery-top
							.swiper-wrapper
								.swiper-slide
									.card-img(style='background-image: url(assets/images/catalog-1.jpg)')
								.swiper-slide
									.card-img(style='background-image: url(assets/images/catalog-2.jpg)')
								.swiper-slide
									.card-img(style='background-image: url(assets/images/catalog-1.jpg)')
							// Add Arrows
							.swiper-button-next.bx-e10.bx-e11
							.swiper-button-prev.bx-e10.bx-e11
						.swiper-container.gallery-thumbs
							.swiper-wrapper
								.swiper-slide.card-img(style='background-image: url(assets/images/catalog-1.jpg)')
								.swiper-slide.card-img(style='background-image: url(assets/images/catalog-2.jpg)')
								.swiper-slide.card-img(style='background-image: url(assets/images/catalog-1.jpg)')
				.card-product__characteristics
					.card-product__characteristics-title Технические характеристики
					table.card-product__characteristics-table
						tbody
							tr
								th Ширина, см
								td 90
							tr
								th Глубина, см
								td 90
							tr
								th Высота, см
								td 200
							tr
								th Вес НЕТТО, кг
								td 71
							tr
								th Количество коробок, шт
								td 1
							tr
								th Состав упаковки
								td картон
							tr
								th Ширина упаковки, м
								td 0,14
							tr
								th Глубина упаковки, м
								td 0,48
							tr
								th Высота упаковки, м
								td 2,05
							tr
								th Материал упаковки
								td картон
							tr
								th Вес БРУТТО, кг
								td 74
							tr
								th Объем, м3
								td 0,12
					.card-product__characteristics-all
						table.card-product__characteristics-table
							tbody
								tr
									th Ду, мм:
									td 80
								tr
									th Бренд:
									td Abra
								tr
									th Давление, Ру кгс/см2:
									td 40
								tr
									th Тип прохода:
									td Полнопроходная
								tr
									th Тип присоединения:
									td Фланцевое
								tr
									th Материал запирающего устройства:
									td Сталь 25Л + наплавка на клине: 20Х13
								tr
									th Способ управления:
									td Ручное (штурвал)
								tr
									th Рабочая среда:
									td Вода, пар, нефтепродукты
					button.defBtn Все характеристики
				.card-product__action-block
					.card-product__action-blockinner
						.card-product__action-delivery
							.card-product__shares
								.card-product__hit Хит продаж
								.card-product__sale -10%
							.card-action
								button.electBtn.popup-desc-parent(data-open='min-modal' data-index='1')
									i.icon-2-4_elect
									span.popup-desc.shadow-15 Добавить в избранное
								button.comparisonBtn.popup-desc-parent(data-open='min-modal' data-index='2')
									+icon('compare')
									span.popup-desc.shadow-15 Добавить в сравнение
						.card-product__action
							.card-product__priceWrap
								.card-product__title Душевое ограждение GROSSMAN PR-100SQ
								div
									.price
										span 22 345 ₽ 
										del 22 345 ₽ 
							.card-product__smDescr Стальные петли, стальная ручка, стальные профиля, петли и ручка взаимозаменяемые
							.card-product__action-btn
								button.buyFast.Btn-Flamenco1 Купить в 1 клик
								button.Btn-Flamenco.popup-desc-parent(data-index='3' data-open='min-modal')
									+icon('basket')
									span В корзину
									span.popup-desc.shadow-15 В корзине
								// <button class="basketBtn">в корзину<i class="icon-1-1_basket"></i></button>
								button.defBtn.findCheaperBtn
									span Нашли дешевле?
		.view-product
			.view-product__inner
				button.defBtn
					i.icon-1-4_close
				.swiper-container.gallery-top
					.swiper-wrapper
						.swiper-slide
							.card-img(style='background-image: url(assets/images/catalog-1.jpg)')
						.swiper-slide
							.card-img(style='background-image: url(assets/images/catalog-2.jpg)')
						.swiper-slide
							.card-img(style='background-image: url(assets/images/catalog-3.jpg)')
					// Add Arrows
					.swiper-button-next.bx-e10.bxe11
					.swiper-button-prev.bx-e10.bxe11
				.swiper-container.gallery-thumbs
					.swiper-wrapper
						.swiper-slide.card-img(style='background-image: url(assets/images/catalog-1.jpg)')
						.swiper-slide.card-img(style='background-image: url(assets/images/catalog-2.jpg)')
						.swiper-slide.card-img(style='background-image: url(assets/images/catalog-3.jpg)')


	// end sCardProduct