mixin sCardProduct(data)
	<div class="card-product__page">
		<div>
			<div class="card-product" id="bx_117848907_17036">
				<div class="card-product__slider">
					<div class="card-product__slider-inner">
						<div class="swiper-container gallery-top swiper-container-initialized swiper-container-horizontal">
							<div class="swiper-wrapper">
								<div class="swiper-slide swiper-slide-active" style="width: 480px;">
									<div class="card-img" style="background-image: url(/upload/resize_cache/iblock/864/427_334_1/8641f3d4c3c712233ea451bf56c16ad8.jpeg)">
									</div>
								</div>
							</div>
							<!-- Add Arrows -->
							<div class="swiper-button-next bx-e10 bx-e11 swiper-button-disabled" tabindex="0" role="button" aria-label="Next slide" aria-disabled="true"></div>
							<div class="swiper-button-prev bx-e10 bx-e11 swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></div>
							<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
						</div>
						<div class="swiper-container gallery-thumbs swiper-container-initialized swiper-container-horizontal swiper-container-free-mode swiper-container-thumbs">
							<div class="swiper-wrapper">
								<div class="swiper-slide card-img swiper-slide-visible swiper-slide-active swiper-slide-thumb-active" style="background-image: url(&quot;/upload/resize_cache/iblock/864/76_76_1/8641f3d4c3c712233ea451bf56c16ad8.jpeg&quot;); margin-right: 10px;">
								</div>
							</div>
							<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
						</div>
					</div>
				</div>
				<div class="card-product__characteristics">
					<div class="card-product__characteristics-title">
						<p>Технические характеристики</p>
						<img src="/upload/resize_cache/iblock/15a/80_20_1/15a06d974fb9085133626142591e6b3b.jpg" alt="">
					</div>
					<table class="card-product__characteristics-table">
						<tbody>
							<tr>
								<th>Ду, мм:</th>
								<td>80</td>
							</tr>
							<tr>
								<th>Бренд:</th>
								<td>ABRA</td>
							</tr>
							<tr>
								<th>Артикул:</th>
								<td>ST-002-2134</td>
							</tr>
							<tr>
								<th>Давление, Ру кгс/см2:</th>
								<td>10</td>
							</tr>
							<tr>
								<th>Исполнение:</th>
								<td>1 (В)</td>
							</tr>
							<tr>
								<th>Тип присоединения:</th>
								<td>Под приварку</td>
							</tr>
							<tr>
								<th>Температура рабочей среды:</th>
								<td>от -30 до +300</td>
							</tr>
							<tr>
								<th>Регламентирующий документ:</th>
								<td>ГОСТ 12821-80, ГОСТ 33259 тип 11</td>
							</tr>
						</tbody>
					</table>
					<div class="card-product__characteristics-all">
						<table class="card-product__characteristics-table">
							<tbody>
								<tr>
									<th>Страна происхождения:</th>
									<td>Россия</td>
								</tr>
								<tr>
									<th>Материал корпуса:</th>
									<td>Сталь 12Х18Н10Т</td>
								</tr>
								<tr>
									<th>Внешний диаметр фланца, мм:</th>
									<td>195</td>
								</tr>
								<tr>
									<th>Межосевой диаметр фланца, мм:</th>
									<td>160</td>
								</tr>
								<tr>
									<th>Диаметр отверствий фланца, мм:</th>
									<td>18</td>
								</tr>
								<tr>
									<th>Масса, кг:</th>
									<td>3,67</td>
								</tr>
								<tr>
									<th>Диаметр основая воротника, мм:</th>
									<td>105</td>
								</tr>
								<tr>
									<th>Диаметр воротника, мм:</th>
									<td>90</td>
								</tr>
								<tr>
									<th>Внутренний диаметр, мм:</th>
									<td>78</td>
								</tr>
								<tr>
									<th>Толщина , мм:</th>
									<td>15</td>
								</tr>
								<tr>
									<th>Число крипежных отверстий, шт:</th>
									<td>4</td>
								</tr>
								<tr>
									<th>Диаметр выступа, мм:</th>
									<td>133</td>
								</tr>
								<tr>
									<th>Высота выступа, мм:</th>
									<td>3</td>
								</tr>
								<tr>
									<th>Высота воротника, мм:</th>
									<td>32</td>
								</tr>
							</tbody>
						</table>
					</div>
					<button class="defBtn">Все характеристики</button>
				</div>
				<div class="card-product__action-block">
					<div class="card-product__action-blockinner">
						<div class="card-product__action-delivery">
							<span>
								<i class="icon-6-7_delivery"></i>
								<span>Доставка возможно в день обращения</span>
							</span>
							<div class="card-action">
								<button class="electBtn popup-desc-parent" data-text="Y" data-id="17036" data-add="FAVORITES" data-action="compfav" data-open="min-modal" data-index="1">
									<i class="icon-2-4_elect"></i>
									<span class="popup-desc shadow-15">Добавить в избранное</span>
								</button>
								<button class="comparisonBtn  popup-desc-parent" data-text="Y" data-add="COMPARE" data-id="17036" data-action="compfav" data-open="min-modal" data-index="2">
									<i class="icon-1-5_comparison"></i>
									<span class="popup-desc shadow-15">Добавить в сравнение</span>
								</button>
							</div>
						</div>
						<div class="card-product__action">
							<div>
								<div>
									<div class="price">
										<span>3&nbsp;326,00 <span class="rouble"> руб.</span></span>
									</div>
								</div>
								<div class="count__wrap">
									<div class="count">
										<button class="minus"><i class="icon-6-6_minus"></i></button>
										<input type="text" id="product-quantity-21031" value="1">
										<button class="plus"><i class="icon-6-5_plus"></i></button>
									</div>
									<span>шт</span>
								</div>
							</div>
							<div class="card-product__action-btn">
								<button data-id="21031" class="buyFast Btn-Wedgewood">купить в 1 клик
								</button>
								<button data-id="21031" data-productid="17036" data-action="add2basket" class="basketBtn popup-desc-parent" data-index="3" data-open="min-modal">
									<span>в корзину</span><i class="icon-1-1_basket"></i>
									<span class="popup-desc shadow-15">В корзине</span>
								</button>
								<!-- <button class="basketBtn">в корзину<i class="icon-1-1_basket"></i></button> -->
							</div>
						</div>
						<div class="card-product__action-otherbtn">
							<button data-id="17036" class="defBtn findCheaperBtn">
								<i class="icon-6-8_foundcheaper"></i>
								<span>Нашли дешевле?</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="view-product mCustomScrollbar _mCS_1 mCS_no_scrollbar" style="display: none;">
			<div id="mCSB_1" class="mCustomScrollBox mCS-dark mCSB_vertical mCSB_inside" style="max-height: 963px;" tabindex="0">
				<div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
					<div class="view-product__inner" style="height: 963px;">
						<button class="defBtn"><i class="icon-1-4_close"></i></button>
						<div class="swiper-container gallery-top swiper-container-initialized swiper-container-horizontal">
							<div class="swiper-wrapper" style="transition-duration: 0ms;">
								<div class="swiper-slide">
									<div class="card-img" style="background-image: url(/upload/iblock/864/8641f3d4c3c712233ea451bf56c16ad8.jpeg)">
									</div>
								</div>

							</div>
							<!-- Add Arrows -->
							<div class="swiper-button-next bx-e10 bxe11" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
							<div class="swiper-button-prev bx-e10 bxe11" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="false"></div>
							<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
						</div>
						<div class="swiper-container gallery-thumbs swiper-container-initialized swiper-container-horizontal swiper-container-free-mode swiper-container-thumbs">
							<div class="swiper-wrapper" style="transition-duration: 0ms;">
								<div class="swiper-slide card-img" style="background-image: url(/upload/resize_cache/iblock/864/90_90_1/8641f3d4c3c712233ea451bf56c16ad8.jpeg)">
								</div>
							</div>
							<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
						</div>
					</div>
				</div>
				<div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-dark mCSB_scrollTools_vertical" style="display: none;">
					<div class="mCSB_draggerContainer">
						<div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; top: 0px;">
							<div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
						</div>
						<div class="mCSB_draggerRail"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="feedback">
			<div id="comp_2d49e828d1ca289ed3aaea67e996ddfc">

				<form action="/catalog/flanets-vorotnikovyy-nerzhaveyushchiy-gost-12821-80-gost-33259-tip-11-ru10-stal-12kh18n10t/flanets-80-10-11-1-b-st-12kh18n10t-iv-gost-33259-15/" method="POST"><input type="hidden" name="bxajaxid" id="bxajaxid_2d49e828d1ca289ed3aaea67e996ddfc_8BACKi" value="2d49e828d1ca289ed3aaea67e996ddfc"><input type="hidden" name="AJAX_CALL" value="Y">
					<input type="hidden" name="sessid" id="sessid" value="55099ddc7ce1d381781631c5fcdcc713">
					<div class="feedback__inner">
						<h2 class="section-title"><span>закажите</span> обратный звонок</h2>
						<div class="feedback-brims">
							<label class="input-wrap">
								<input type="text" required="" class="input" name="NAME" placeholder="Ваше имя">
							</label>
							<label class="input-wrap">
								<input type="tel" required="" class="input" name="PHONE" placeholder="Телефон">
							</label>
							<input type="hidden" name="PARAMS_HASH" value="51aca2947eb94c7b1cc99b3937e821fc">
							<input type="hidden" name="submit" value="Y">
							<button class="defBtn Btn Btn-Wedgewood" type="submit">отправить</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	// end sCardProduct