
mixin modal() 
	#makeOrder.modal
		form(action="#")
			.modal__inner
				.top
					h2.section-title
						span Сделать
						|  заказ
					p.alert
						| С помощью формы ниже Вы можете разместить заказ на интересующую Вас продукцию или задать любой вопрос.
				.body
					.input-List
						label.input-wrap
							input.input(type="text" value="")
							span.input-name Имя*
						label.input-wrap
							input.input(type="tel")
							span.input-name Телефон*
						label.input-wrap
							input.input(type="email")
							span.input-name E-mail
						label.input-wrap
							textarea#t.input(name="t")
							span.input-name Сообщение*
					strong Приложить файлы
					p
						| поддерживается загрузка файлов не более 10Мб следующих форматов: 
						br
						| jpg, jpeg, png, gif, zip, rar, pdf, xls, xlsx, csv, doc
					label.file-wrap
						input.attach-file__input(type="file" hidden="" multiple="" accept=".jpg, .jpeg, .png, .gif, .zip, .rar, .pdf, .xls, .xlsx, .csv, .doc")
						span.defBtn.Btn.Btn-Wedgewood загрузить файл
					span.attachedFile
				.bottom
					p
						| Нажимая на кнопку: "Отправить", Вы подтверждаете, что прочли 
						br
						| Соглашение об обработке персональных данных и принимаете его.
					button#sendInfo.defBtn.Btn-Wedgewood(type="button") отправить
	<div class="modal" id="findCheaper">
			<form action="#">
					<div class="modal__inner">
							<div class="top">
									<h2 class="section-title"><span>Нашли</span> дешевле</h2>
							</div>
							<div class="body">
									<div class="input-List">
											<label class="input-wrap">
													<input type="text" class="input" value="">
													<span class="input-name">ФИО*</span>
											</label>
											<label class="input-wrap">
													<input type="tel" class="input">
													<span class="input-name">Телефон*</span>
											</label>
											<label class="input-wrap">
													<input type="email" class="input">
													<span class="input-name">E-mail</span>
											</label>
											<label class="input-wrap">
													<textarea class="input" name="t" id="t"></textarea>
													<span class="input-name">Сообщение*</span>
											</label>
									</div>
									<strong>Приложить файлы</strong>
									<p>поддерживается загрузка файлов не более 10Мб следующих форматов: jpg, jpeg, png, gif, zip, rar, pdf, xls, xlsx, csv, doc</p>
									<label class="file-wrap">
											<input class="attach-file__input" type="file" hidden multiple accept=".jpg, .jpeg, .png, .gif, .zip, .rar, .pdf, .xls, .xlsx, .csv, .doc">
											<span class="defBtn Btn Btn-Wedgewood">загрузить файл</span>
									</label>
									<span class="attachedFile"></span>
							</div>
							<div class="bottom">
									<p>Нажимая на кнопку: "Отправить", Вы подтверждаете, что прочли Соглашение об обработке персональных данных и принимаете его.</p>
									<button type="button" class="defBtn Btn-Wedgewood">отправить</button>
							</div>
					</div>
			</form>
	</div>
	<div class="modal" id="oneClick">
			<form action="#">
					<div class="modal__inner">
							<div class="top">
									<h2 class="section-title"><span>Купить</span>  в 1 клик</h2>
									<p class="alert">С помощью формы ниже Вы можете разместить заказ на интересующую Вас продукцию или задать любой вопрос.</p>
							</div>
							<div class="body">
									<div class="input-List">
											<label class="input-wrap">
													<input type="text" class="input" value="">
													<span class="input-name">Имя*</span>
											</label>
											<label class="input-wrap">
													<input type="tel" class="input">
													<span class="input-name">Телефон*</span>
											</label>
											<label class="input-wrap">
													<input type="email" class="input">
													<span class="input-name">E-mail</span>
											</label>
											<label class="input-wrap">
													<textarea class="input" name="t" id="t"></textarea>
													<span class="input-name">Сообщение*</span>
											</label>
									</div>
									<strong>Приложить файлы</strong>
									<p>поддерживается загрузка файлов не более 10Мб следующих форматов: 
											<br>jpg, jpeg, png, gif, zip, rar, pdf, xls, xlsx, csv, doc</p>
									<label class="file-wrap">
											<input class="attach-file__input" type="file" hidden multiple accept=".jpg, .jpeg, .png, .gif, .zip, .rar, .pdf, .xls, .xlsx, .csv, .doc">
											<span class="defBtn Btn Btn-Wedgewood">загрузить файл</span>
									</label>
									<span class="attachedFile"></span>
							</div>
							<div class="bottom">
									<p>Нажимая на кнопку: "Отправить", Вы подтверждаете, что прочли 
											<br>Соглашение об обработке персональных данных и принимаете его.</p>
									<button type="button" class="defBtn Btn-Wedgewood" id="sendInfo">отправить</button>
							</div>
					</div>
			</form>
	</div>
	#modalThanks.modal
		form(action="#")
			.modal__inner
				.top
					h2.section-title
						span ваш
						|  заказ принят
					p.alert Спасибо,что выбрали нас!
				button.defBtn.Btn.Btn-Wedgewood(type="button" data-fancybox-close="") ок
	#logIn.modal
		form(action="#")
			.modal__inner
				.top
					h2.section-title
						span Вход
						|  в личный кабинет
					p.alert Неправильно введен логин или пароль
				.body
					.input-List
						label.input-wrap
							input.input(type="text")
							span.input-name Логин*
						label.input-wrap
							input.input.error(type="password")
							span.input-name Пароль*
					a#forgotPassw.dashed.defLink(href="javascript:;") Забыли пароль?
					.log__Wrap
						button.defBtn.Btn-Wedgewood(type="button") войти
						a.solid(href="#") Зарегистрироваться
	#passw-reuest.modal
		form(action="#")
			.modal__inner
				.top
					h2.section-title
						span Запрос
						|  пароля
					p.alert
						| Мы храним Ваш пароль в зашифрованном виде, 
						| поэтому восстановить доступ можно, только 
						| создав новый пароль.
						br
						|                     Укажите Вашу электронную почту и мы вышлем
						|                     Вам инструкцию.
				.body
					.input-List
						label.input-wrap
							input.input(type="text")
							span.input-name Email
					button.defBtn.Btn.Btn-Wedgewood(type="button" data-fancybox-close="") отправить