<div class="advantage-block">
    <h2 class="section-title"><span>наши</span> преимущества</h2>
    <div class="advantage-block__inner">
        <ul class="def-ul">
            <li class="item">
                <div class="item__inner">
                    <div class="wrap">
                        <i class="icon-5-2_advantage1"></i>
                        <span class="item__popup">Здесь будет краткое пояснение преимущества в несколько строк Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</span>
                    </div>
                    <p>Возможность доставки по <br>Москве, МО в день обращения</p>
                </div>
            </li>
            <li class="item">
                <div class="item__inner">
                    <div class="wrap">
                        <i class="icon-5-3_advantage2"></i>
                        <span class="item__popup">Здесь будет краткое пояснение преимущества в несколько строк Lorem Ipsum - это текст-"рыба"</span>
                    </div>
                    <p>Производственный комплекс: <br> металлоконструкции /<br>металлообработка</p>
                </div>
            </li>
            <li class="item">
                <div class="item__inner">
                    <div class="wrap">
                        <i class="icon-5-4_advantage3"></i>
                        <span class="item__popup">Здесь будет краткое пояснение преимущества в несколько строк Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. , часто используемый в печати и вэб-дизайне.</span>
                    </div>
                    <p>Широкий ассортимент <br>товаров</p>
                </div>
            </li>
            <li class="item">
                <div class="item__inner">
                    <div class="wrap">
                        <i class="icon-5-5_advantage4"></i>
                        <span class="item__popup">Здесь будет краткое пояснение преимущества в несколько строк Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</span>
                    </div>
                    <p>Комплексное снабжение <br>объектов</p>
                </div>
            </li>
            <li class="item">
                <div class="item__inner">
                    <div class="wrap">
                        <i class="icon-5-6_advantage5"></i>
                        <span class="item__popup">Здесь будет краткое пояснение преимущества в несколько строк Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</span>
                    </div>
                    <p>Отсрочка платежа</p>
                </div>
            </li>
            <li class="item">
                <div class="item__inner">
                    <div class="wrap">
                        <i class="icon-5-7_advantage6"></i>
                        <span class="item__popup">Здесь будет краткое пояснение преимущества в несколько строк Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</span>
                    </div>
                    <p>Мелкая розница и <br>крупный опт</p>
                </div>
            </li>
            <li class="item">
                <div class="item__inner">
                    <div class="wrap">
                        <i class="icon-5-8_advantage7"></i>
                        <span class="item__popup">Здесь будет краткое пояснение преимущества в несколько строк Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</span>
                    </div>
                    <p>Бесплатная инженерно-<br>техническая консультация с <br>выездом на объект</p>
                </div>
            </li>
            <li class="item">
                <div class="item__inner">
                    <div class="wrap">
                        <i class="icon-5-9_advantage8"></i>
                        <span class="item__popup">Здесь будет краткое пояснение преимущества в несколько строк Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</span>
                    </div>
                    <p>Гарантия безопасности <br>сотрудничества</p>
                </div>
            </li>
            <li class="item">
                <div class="item__inner">
                    <div class="wrap">
                        <i class="icon-6-0_advantage9"></i>
                        <span class="item__popup">Здесь будет краткое пояснение преимущества в несколько строк Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</span>
                    </div>
                    <p>Складское наличие <br>редких позиций</p>
                </div>
            </li>
            <li class="item">
                <div class="item__inner">
                    <img class="logo" src="assets/svg/logo-part-white.svg" alt="">
                </div>
            </li>
        </ul>
    </div>
</div>