<footer>
    <div class="footer-fixed">
        <button class="defBtn Btn-Flamenco" id="makeOrderBtn">сделать заказ</button>
    </div>
    <div class="footer">
        <div class="footer__top">
            <div class="container">
                <div class="footer__top-inner">
                    <ul class="def-ul">
                        <li class="firstStage">
                            <h3><a href="#" class="defLink arrowDown">Продукция</a></h3>
                            <ul class="def-ul">
                                <li>
                                    <a href="#" class="defLink h-Flamenco-1">Трубопроводная и запорно-регулирующая арматура</a>
                                </li>
                                <li>
                                    <a href="#" class="defLink h-Flamenco-1">Детали трубопроводов</a>
                                </li>
                                <li>
                                    <a href="#" class="defLink h-Flamenco-1">Опоры трубопроводов</a>
                                </li>
                                <li>
                                    <a href="#" class="defLink h-Flamenco-1">Контрольно-измерительные приборы</a>
                                </li>
                                <li>
                                    <a href="#" class="defLink h-Flamenco-1">Отопительное оборудование</a>
                                </li>
                                <li>
                                    <a href="#" class="defLink h-Flamenco-1">Компенсаторы</a>
                                </li>
                                <li>
                                    <a href="#" class="defLink h-Flamenco-1">Уплотнители и крепеж</a>
                                </li>
                                <li>
                                    <a href="#" class="defLink h-Flamenco-1">Трубы</a>
                                </li>
                                <li>
                                    <a href="#" class="defLink h-Flamenco-1">Фитинги</a>
                                </li>
                                <li>
                                    <a href="#" class="defLink h-Flamenco-1">Теплоизоляция</a>
                                </li>
                                <li>
                                    <a href="#" class="defLink h-Flamenco-1">Канализационное оборудование</a>
                                </li>
                                <li>
                                    <a href="#" class="defLink h-Flamenco-1">Противопожарное оборудование</a>
                                </li>
                            </ul>
                        </li>
                        <li class="firstStage">
                            <h3><a href="#" class="defLink arrowDown">Услуги</a></h3>
                            <ul class="def-ul">
                                <li>
                                    <a href="#" class="defLink h-Flamenco-1">Металлообработка</a>
                                </li>
                                <li>
                                    <a href="#" class="defLink h-Flamenco-1">ППУ, ВУС, ППМ, ЦПИ изоляция</a>
                                </li>
                                <li>
                                    <a href="#" class="defLink h-Flamenco-1">Грунтовка и покраска металла</a>
                                </li>
                                <li>
                                    <a href="#" class="defLink h-Flamenco-1">Цинкование металла</a>
                                </li>
                            </ul>
                        </li>
                        <li class="firstStage">
                            <h3><a href="#" class="defLink arrowDown">Контакты</a></h3>
                            <ul class="def-ul">
                                <li>
                                    <a href="#" class="defLink h-Flamenco-1">Контактная информация</a>
                                </li>
                                <li>
                                    <a href="#" class="defLink h-Flamenco-1">Напишите нам</a>
                                </li>
                                <li>
                                    <a href="#" class="defLink h-Flamenco-1">Обратный звонок</a>
                                </li>
                                <li>
                                    <a href="#" class="defLink h-Flamenco-1">Написать руководителю</a>
                                </li>
                            </ul>
                        </li>
                        <li class="firstStage">
                            <h3><a href="#" class="defLink arrowDown">О компании</a></h3>
                            <ul class="def-ul">
                                <li>
                                    <a href="#" class="defLink h-Flamenco-1">О компании</a>
                                </li>
                                <li>
                                    <a href="#" class="defLink h-Flamenco-1">Новости </a>
                                </li>
                                <li>
                                    <a href="#" class="defLink h-Flamenco-1">Вакансии</a>
                                </li>
                            </ul>
                        </li>
                        <li class="firstStage">
                            <h3><a href="#" class="defLink arrowDown">Клиентам</a></h3>
                            <ul class="def-ul">
                                <li>
                                    <a href="#" class="defLink h-Flamenco-1">Как сделать заказ </a>
                                </li>
                                <li>
                                    <a href="#" class="defLink h-Flamenco-1">Оплата</a>
                                </li>
                                <li>
                                    <a href="#" class="defLink h-Flamenco-1">Банковские реквизиты</a>
                                </li>
                                <li>
                                    <a href="#" class="defLink h-Flamenco-1">Юридическая информация </a>
                                </li>
                                <li>
                                    <a href="#" class="defLink h-Flamenco-1">Статьи</a>
                                </li>
                                <li>
                                    <a href="#" class="defLink h-Flamenco-1">Частые вопросы</a>
                                </li>
                            </ul>
                        </li>
                        <li class="firstStage">
                            <h3><a href="#" class="defLink">Доставка</a></h3>
                            <h3><a href="#" class="defLink">Личный кабинет</a></h3>
                            <h3><a href="#" class="defLink">Бренды</a></h3>
                        </li>
                        <li class="firstStage">
                            <div class="contacts">
                                <a href="index.html" class="defLink logo">
                                    <img src="assets/svg/logo-white.svg" alt="">
                                </a>
                                <ul class="def-ul">
                                    <li>Пн - Пт с 09:00 до 21:00</li>
                                    <li>Сб - Вс с 11:00 до 19:00</li>
                                </ul>
                                <a href="tel:8(495)3747472" class="defLink h-Flamenco-1 phone">8 (495) 374-74-72</a>
                                <a href="mailto:sales@staleron-group.ru" class="defLink h-Flamenco-1">sales@staleron-group.ru</a>
                                <ul class="def-ul social-media">
                                    <li>
                                        <a href="#"><img src="../../../assets/svg/social-media01.svg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="../../../assets/svg/social-media02.svg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="../../../assets/svg/social-media03.svg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="../../../assets/svg/social-media04.svg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="../../../assets/svg/social-media05.svg" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="container">
                <div class="footer__bottom-inner">
                    <p>© ТПА24, 2019</p>
                </div>
            </div>
        </div>
        <div class="anchor">
            <i class="icon-1-0_arrow"></i>
        </div>
    </div>
</footer>
