.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-basket {
	font-size:(21/10)*1rem;
	width:(22/21)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-chevron-left {
	font-size:(43/10)*1rem;
	width:(24/43)*1em;
}
.icon-chevron-right {
	font-size:(43/10)*1rem;
	width:(24/43)*1em;
}
.icon-compare {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-fb {
	font-size:(195.53/10)*1rem;
	width:(107.31/195.53)*1em;
}
.icon-grossman-logo-transparent {
	font-size:(87.12/10)*1rem;
	width:(500/87.12)*1em;
}
.icon-heart {
	font-size:(21/10)*1rem;
	width:(22.97/21)*1em;
}
.icon-instagram {
	font-size:(148.95/10)*1rem;
	width:(148.95/148.95)*1em;
}
.icon-mail {
	font-size:(13/10)*1rem;
	width:(16/13)*1em;
}
.icon-next {
	font-size:(10/10)*1rem;
	width:(6/10)*1em;
}
.icon-phone {
	font-size:(30/10)*1rem;
	width:(28/30)*1em;
}
.icon-prev {
	font-size:(10/10)*1rem;
	width:(6/10)*1em;
}
.icon-user {
	font-size:(17/10)*1rem;
	width:(14/17)*1em;
}
.icon-vk {
	font-size:(122.28/10)*1rem;
	width:(204.58/122.28)*1em;
}
.icon-youtube {
	font-size:(41.8/10)*1rem;
	width:(101.6/41.8)*1em;
}
