<div class="modal" id="logIn">
    <form action="#">
        <div class="modal__inner">
            <div class="top">
                <h2 class="section-title"><span>Вход</span> в личный кабинет</h2>
                <p class="alert">Неправильно введен логин или пароль</p>
            </div>
            <div class="body">
                <div class="input-List">
                    <label class="input-wrap">
                        <input type="text" class="input">
                        <span class="input-name">Логин*</span>
                    </label>
                    <label class="input-wrap">
                        <input type="password" class="input error">
                        <span class="input-name">Пароль*</span>
                    </label>
                </div>
                <a class="dashed defLink" id="forgotPassw" href="javascript:;">Забыли пароль?</a>
                <div class="log__Wrap">
                    <button type="button" class="defBtn Btn-Wedgewood">войти</button>
                    <a class="solid" href="#">Зарегистрироваться</a>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal" id="passw-reuest">
    <form action="#">
        <div class="modal__inner">
            <div class="top">
                <h2 class="section-title"><span>Запрос</span> пароля</h2>
                <p class="alert">Мы храним Ваш пароль в зашифрованном виде, 
                    поэтому восстановить доступ можно, только 
                    создав новый пароль.<br>
                    Укажите Вашу электронную почту и мы вышлем 
                    Вам инструкцию.</p>
            </div>
            <div class="body">
                <div class="input-List">
                    <label class="input-wrap">
                        <input type="text" class="input">
                        <span class="input-name">Email</span>
                    </label>
                </div>
                <button type="button" data-fancybox-close class="defBtn Btn Btn-Wedgewood">отправить</button>
            </div>
        </div>
    </form>
</div>