<div class="modal" id="send-resume">
    <form action="#">
        <div class="modal__inner">
            <div class="top">
                <h2 class="section-title"><span>Резюме</span></h2>
            </div>
            <div class="body">
                <div class="input-List">
                    <label class="input-wrap">
                        <input type="text" class="input" value="">
                        <span class="input-name">Имя*</span>
                    </label>
                    <label class="input-wrap">
                        <input type="tel" class="input">
                        <span class="input-name">Телефон*</span>
                    </label>
                    <label class="input-wrap">
                        <input type="email" class="input">
                        <span class="input-name">E-mail</span>
                    </label>
                    <label class="input-wrap">
                        <input type="text" class="input" value="Менеджер по продажам">
                        <span class="input-name">Должность*</span>
                    </label>
                </div>
                <strong>Приложить файлы</strong>
                <p>поддерживается загрузка файлов не более 10Мб следующих форматов: 
                    <br>jpg, jpeg, png, gif, zip, rar, pdf, xls, xlsx, csv, doc</p>
                <label class="file-wrap">
                    <input class="attach-file__input" type="file" hidden multiple accept=".jpg, .jpeg, .png, .gif, .zip, .rar, .pdf, .xls, .xlsx, .csv, .doc">
                    <span class="defBtn Btn Btn-Wedgewood">загрузить файл</span>
                </label>
                <span class="attachedFile"></span>
                <label class="input-wrap">
                    <textarea class="input" name="t" id="t"></textarea>
                    <span class="input-name">Текст резюме*</span>
                </label>
            </div>
            <div class="bottom">
                <p>Нажимая на кнопку: "Отправить", Вы подтверждаете, что прочли 
                    <br>Соглашение об обработке персональных данных и принимаете его.</p>
                <button type="button" class="defBtn Btn-Wedgewood">отправить</button>
            </div>
        </div>
    </form>
</div>