<div class="view-product">
    <div class="view-product__inner">
        <button class="defBtn"><i class="icon-1-4_close"></i></button>
        <div class="swiper-container gallery-top">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card-img" style="background-image: url(assets/images/card-slider2.jpg)">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card-img" style="background-image: url(assets/images/card-slider2.jpg)">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card-img" style="background-image: url(assets/images/card-slider2.jpg)">
                    </div>
                </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next bx-e10 bxe11"></div>
            <div class="swiper-button-prev bx-e10 bxe11"></div>
        </div>
        <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
                <div class="swiper-slide card-img" style="background-image: url(assets/images/card-slider2.jpg)">
                </div>
                <div class="swiper-slide card-img" style="background-image: url(assets/images/card-slider2.jpg)">
                </div>
                <div class="swiper-slide card-img" style="background-image: url(assets/images/card-slider2.jpg)">
                </div>
            </div>
        </div>
    </div>
</div>