<div class="main-slider swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url(assets/images/main-slider1.jpg)">
            <div class="main-slider__text">
                <div class="main-slider__text-inner">
                     <p>ТРУБОПРОВОДНАЯ И <br>ЗАПОРНО-РЕГУЛИРУЮЩАЯ АРМАТУРА</p>
                </div>
                <a href="#" class="defLink Btn Btn-Wedgewood">в каталог</a>
            </div>
        </div>
        <div class="swiper-slide" style="background-image: url(assets/images/main-slider1.jpg)">
            <div class="main-slider__text">
                <div class="main-slider__text-inner">
                     <p>ТРУБОПРОВОДНАЯ И <br>ЗАПОРНО-РЕГУЛИРУЮЩАЯ АРМАТУРА</p>
                </div>
                <a href="#" class="defLink Btn Btn-Wedgewood">в каталог</a>
            </div>
        </div>
        <div class="swiper-slide" style="background-image: url(assets/images/main-slider1.jpg)">
            <div class="main-slider__text">
                <div class="main-slider__text-inner">
                     <p>ТРУБОПРОВОДНАЯ И <br>ЗАПОРНО-РЕГУЛИРУЮЩАЯ АРМАТУРА</p>
                </div>
                <a href="#" class="defLink Btn Btn-Wedgewood">в каталог</a>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>