.main-slider__text{
        text-align: center;
        margin-left: 150px;
        width: 550px;
        padding: 20px 0;
    }
        .main-slider__text .Btn{
            margin-top: 50px;
            padding: 10px 40px;
        }
        .main-slider__text-inner{
            font-size: 25px;
            text-transform: uppercase;
            line-height: 1.4;
            font-weight: 700;
        }
        .main-slider__text-inner p{
                margin: 0;
            }
    .main-slider .swiper-slide{
        min-height: 487px;
        background-position-x: center;
        background-size: cover;
        background-color: #f2f2f2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .main-slider .swiper-button-prev, .main-slider .swiper-button-next{
            top: auto;
            bottom: 40px
        }
    .main-slider .swiper-button-prev::after,.main-slider .swiper-button-next::after{
        -webkit-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
}
    .main-slider .swiper-button-prev:hover,.main-slider .swiper-button-next:hover{
        bottom: 28px;
        width: 30px;
        height: 60px;
}
    .main-slider .swiper-button-prev:hover::after,.main-slider .swiper-button-next:hover::after{
        font-size: 60px;
        -webkit-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
}
    .main-slider .swiper-button-next{
            right: 70px;
        }
    .main-slider .swiper-button-prev{
            left: auto;
            right: 140px;
        }
    .main-slider .swiper-pagination{
        bottom: 28px;
        padding-left: 70px;
        text-align: left;
    }
    @media(max-width: 1890px){
        .main-slider__text{
            margin-left: 10px;
        }
}
    @media(max-width: 1650px){
    .main-slider__text{
        width: 450px;
    }
}
    @media(max-width: 1500px){
        .main-slider .swiper-slide{
            min-height: 350px;
        }
}
    @media(max-width: 1199px){
        .main-slider .swiper-slide{
            min-height: 380px;
        }
}
    @media(max-width: 991px){
        .main-slider .swiper-slide{
            min-height: 312px;
        }
        .main-slider__text{
            width: 310px;
        }
            .main-slider__text-inner{
                font-size: 21px;
            }
        .main-slider .swiper-pagination{
            padding-left: 11px;
            bottom: 20px;
        }
        .main-slider .swiper-button-prev, .main-slider .swiper-button-next{
            display: none;
        }
}
    @media(max-width: 767px) {
    .main-slider {
        margin: 0 -15px;
    }
        .main-slider__text {
            margin-left: 40px;
        }
        .main-slider__text .Btn {
            margin-top: 20px;
        }
}
    @media(max-width: 600px){
    .main-slider{
        /* overflow: inherit; */
        margin-left: -15px;
        margin-right: -15px;
    }
        .main-slider .swiper-slide{
            min-height: 433px;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
        .main-slider__text{
            margin-left: 0;
            padding: 30px 10px;
            width: 100%;
        }
            .main-slider__text .Btn{
                margin-top: 15px;
            }
        .main-slider .swiper-slide{
            background-position: center bottom;
            background-repeat: no-repeat;
            min-height: 600px;
        }
}
    @media(max-width: 500px){
        .main-slider .swiper-slide{
            min-height: 520px;
        }
        .main-slider__text-inner p {
            font-size: 19px;
        }
}
    @media(max-width: 400px){
        .main-slider .swiper-slide{
            min-height: 480px;
        }
}
    @media(max-width: 350px){
        .main-slider .swiper-slide{
            min-height: 435px;
        }
}
/*# sourceMappingURL=../../../maps/templates/blocks/main-slider/main-slider.css.map */
