<div class="filter-wrap">
    <div class="filter-inner">
        <div class="row">
            <div class="col-xl-3 col-md-4 col-sm-6 filterItem">
                <div class="select-wrap" data-name="list1">
                    <div class="select-text input" title="Бренд">
                        <input type="hidden" value="Бренд">
                        <span>Бренд</span>
                    </div>
                    <div class="dropdown scroll-always">
                        <ul class="def-ul" data-name="list1-body">
                            <li class="allItem">
                                <label>
                                    <input class="checkItem" type="checkbox" value="Все">
                                    <span>Все</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="Бренд1">
                                    <span>Бренд1<sup>15</sup></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="Бренд2">
                                    <span>Бренд2<sup>5</sup></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="Бренд3">
                                    <span>Бренд3<sup>25</sup></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="Бренд4">
                                    <span>Бренд4<sup>15</sup></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="Бренд5">
                                    <span>Бренд5<sup>5</sup></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="Бренд6">
                                    <span>Бренд6<sup>25</sup></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="Бренд7">
                                    <span>Бренд7<sup>15</sup></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="Бренд8">
                                    <span>Бренд8<sup>5</sup></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="Бренд9">
                                    <span>Бренд9<sup>25</sup></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6 filterItem">
                <div class="select-wrap" data-name="list2">
                    <div class="select-text input" title="Страна происхождения">
                        <input type="hidden" value="Страна происхождения">
                        <span>Страна происхождения</span>
                    </div>
                    <div class="dropdown scroll-always">
                        <ul class="def-ul" data-name="list2-body">
                            <li class="allItem">
                                <label>
                                    <input class="checkItem" type="checkbox" value="Все">
                                    <span>Все</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="Россия">
                                    <span>Россия<sup>15</sup></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="Беларусь">
                                    <span>Беларусь<sup>35</sup></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="Испания">
                                    <span>Испания<sup>5</sup></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="Китай">
                                    <span>Китай<sup>7</sup></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6 filterItem">
                <div class="select-wrap" data-name="list3">
                    <div class="select-text input" title="Ду, мм">
                        <input type="hidden" value="Ду, мм">
                        <span>Ду, мм</span>
                    </div>
                    <div class="dropdown scroll-always">
                        <ul class="def-ul" data-name="list3-body">
                            <li class="allItem">
                                <label>
                                    <input class="checkItem" type="checkbox" value="Все">
                                    <span>Все</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="10">
                                    <span>10<sup>1</sup></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="20">
                                    <span>20<sup>2</sup></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="30">
                                    <span>30<sup>3</sup></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6 filterItem">
                <div class="select-wrap" data-name="list4">
                    <div class="select-text input" title="Давление, Ру кгс/см2">
                        <input type="hidden" value="Давление, Ру кгс/см2">
                        <span>Давление, Ру кгс/см2</span>
                    </div>
                    <div class="dropdown scroll-always">
                        <ul class="def-ul" data-name="list4-body">
                            <li class="allItem">
                                <label>
                                    <input class="checkItem" type="checkbox" value="Все">
                                    <span>Все</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="100">
                                    <span>100<sup>10</sup></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6 filterItem">
                <div class="select-wrap" data-name="list5">
                    <div class="select-text input" title="Тип присоединения">
                        <input type="hidden" value="">
                        <span>Тип присоединения</span>
                    </div>
                    <div class="dropdown scroll-always">
                        <ul class="def-ul" data-name="list5-body">
                            <li class="allItem">
                                <label>
                                    <input class="checkItem" type="checkbox" value="Все">
                                    <span>Все</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="Бренд1">
                                    <span>Бренд1<sup>15</sup></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="Бренд2">
                                    <span>Бренд2<sup>5</sup></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="Бренд3">
                                    <span>Бренд3<sup>25</sup></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="Бренд4">
                                    <span>Бренд4<sup>15</sup></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="Бренд5">
                                    <span>Бренд5<sup>5</sup></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="Бренд6">
                                    <span>Бренд6<sup>25</sup></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="Бренд7">
                                    <span>Бренд7<sup>15</sup></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="Бренд8">
                                    <span>Бренд8<sup>5</sup></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="Бренд9">
                                    <span>Бренд9<sup>25</sup></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6 filterItem">
                <div class="select-wrap" data-name="list6">
                    <div class="select-text input" title="Строительная длина, L, мм.">
                        <input type="hidden" value="Строительная длина, L, мм.">
                        <span>Строительная длина, L, мм.</span>
                    </div>
                    <div class="dropdown scroll-always">
                        <ul class="def-ul" data-name="list6-body">
                            <li class="allItem">
                                <label>
                                    <input class="checkItem" type="checkbox" value="Все">
                                    <span>Все</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="Россия">
                                    <span>Россия<sup>15</sup></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="Беларусь">
                                    <span>Беларусь<sup>35</sup></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="Испания">
                                    <span>Испания<sup>5</sup></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="Китай">
                                    <span>Китай<sup>7</sup></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6 filterItem">
                <div class="select-wrap" data-name="list7">
                    <div class="select-text input" title="Материал корпуса">
                        <input type="hidden" value="Материал корпуса">
                        <span>Материал корпуса</span>
                    </div>
                    <div class="dropdown scroll-always">
                        <ul class="def-ul" data-name="list7-body">
                            <li class="allItem">
                                <label>
                                    <input class="checkItem" type="checkbox" value="Все">
                                    <span>Все</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="10">
                                    <span>10<sup>1</sup></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="20">
                                    <span>20<sup>2</sup></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="30">
                                    <span>30<sup>3</sup></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6 filterItem">
                <div class="select-wrap" data-name="list8">
                    <div class="select-text input" title="Способ управления">
                        <input type="hidden" value="Способ управления">
                        <span>Способ управления</span>
                    </div>
                    <div class="dropdown scroll-always">
                        <ul class="def-ul" data-name="list8-body">
                            <li class="allItem">
                                <label>
                                    <input class="checkItem" type="checkbox" value="Все">
                                    <span>Все</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="100">
                                    <span>100<sup>10</sup></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6 filterItem">
                <div class="select-wrap" data-name="list9">
                    <div class="select-text input" title="Класс герметичности">
                        <input type="hidden" value="Класс герметичности">
                        <span>Класс герметичности</span>
                    </div>
                    <div class="dropdown scroll-always">
                        <ul class="def-ul" data-name="list9-body">
                            <li class="allItem">
                                <label>
                                    <input class="checkItem" type="checkbox" value="Все">
                                    <span>Все</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="10">
                                    <span>10<sup>1</sup></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="20">
                                    <span>20<sup>2</sup></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="30">
                                    <span>30<sup>3</sup></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6 filterItem">
                <div class="select-wrap" data-name="list10">
                    <div class="select-text input" title="Климатическое исполнение">
                        <input type="hidden" value="Климатическое исполнение" title="Климатическое исполнение">
                        <span>Климатическое исполнение</span>
                    </div>
                    <div class="dropdown scroll-always">
                        <ul class="def-ul" data-name="list10-body">
                            <li class="allItem">
                                <label>
                                    <input class="checkItem" type="checkbox" value="Все">
                                    <span>Все</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="checkItem" type="checkbox" value="100">
                                    <span>100<sup>10</sup></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6 filterItem">
                <div class="select-wrap">
                    <div class="select-text input"  title="Цена от, ₽">
                        <input type="text" value="" placeholder='Цена от, ₽'>
                        
                    </div>
                </div>
                <div class="select-wrap">
                    <div class="select-text input" title="до">
                        <input type="text" value="" placeholder='до'>
                        
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="selected-fields hide">
                </div>
                <div class="filter__Btns">
                    <div class="left">
                        <button class="defBtn Btn-Wedgewood Btn-filter" type="button">все фильтры</button>
                        <button class="defBtn Btn-Nobel">
                            Сбросить
                            <i class="close icon-1-4_close"></i>
                        </button>
                    </div>
                    <div class="right">
                        <button class="defBtn Btn-Wedgewood" type="button">показать 35 000 предложений</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="filter-Btn">
        <i class="icon-7-1_filter"></i>
        <span>Открыть фильтры</span>
    </div>
</div>