extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sCardProduct/_sCardProduct.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/advantages/_advantages.pug
include ../blocks/about-company/_about-company.pug
include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Ванны отдельностоящие'
	title= title
block pagecontent

	//- +mob-mnu()
	+header()
	//- +top-nav()
	//- +in-c("checkbox", "text")
	//- +topLine() 
	//- +headerBlock()
	//- +sForm()
	//- +sContact()
	//-

	+b.page-head
		.container
			+breadcrumb('Главная','Каталог', title)
			H1= title
	<main>
		.container
			+sCardProduct
		+sCatalog({title: 'Советуем посмотреть'})
	</main>
	+footer()