extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/catalog-block/_catalog-block.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/advantages/_advantages.pug
include ../blocks/about-company/_about-company.pug
include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Контентная страница'
	title= title
block pagecontent

	//- +mob-mnu()
	+header()
	main
		+topLine()
			+b.page-head.content
				.container
					+breadcrumb('Главная', title)
					H1= title
			.about-company.typography
				p Продукция немецкой торговой марки Grossman сочетает в&nbsp;себе современный и&nbsp;неповторимый дизайн, высокое качество и&nbsp;экологически чистые материалы.
				p.ttu.mb-0 Гидромассажные ванны Grossman
				p Это многофункциональные модели, в&nbsp;которые уже включены опции гидромассажа, аэромассажа, подсветки, хромотеропии и&nbsp;другие удобства 21&nbsp;века. Все ванны имеют антискользящее покрытие. Гидромассажная ванна GROSSMAN, установленная в&nbsp;вашем доме, превращает обычное принятие ванны в&nbsp;способ расслабиться и&nbsp;отвлечься от&nbsp;повседневных проблем. Время, проведенное в&nbsp;ванне, улучшает ваше здоровье и&nbsp;позволяет насладиться приятным массажем с&nbsp;мягкой подсветкой.
				p.ttu.mb-0 Стеклянные шторы для ванн Grossman
				p Это специализированные стеклянные секции, которые ограждают ванну. Они предназначены для предотвращения разбрызгивания воды. Стекло&nbsp;&mdash; влагостойкий и&nbsp;практичный материал, оно подчеркнет все преимущества ванной комнаты. Именно стеклянные шторы для ванной GROSSMAN служат идеальным дополнением к&nbsp;любому предложенному стилю дизайнером интерьера. Стеклянные шторы GROSSMAN украсят любую комнату и&nbsp;придадут ей&nbsp;законченный вид. Шторы GROSSMAN&nbsp;&mdash; это немецкое качество по&nbsp;доступной цене.
				p.ttu.mb-0 Душевые кабины Grossman
				p Урбанистические, комфортные и&nbsp;много размерные&nbsp;&mdash; они идеально вписываются в&nbsp;современные интерьеры, а&nbsp;широкий размерный ряд позволяет разместить душевую кабину, как в&nbsp;ванной комнате городских квартир, где компактность душевой кабины сочетается с&nbsp;функциональностью и&nbsp;удобством, так и&nbsp;в&nbsp;загородном доме. В&nbsp;душевых кабинах GROSSMAN есть все, о&nbsp;чем только может мечтать современный житель мегаполиса&nbsp;&mdash; несколько видов душа и&nbsp;гидромассажа, LED подсветка, FM-радио, система вентиляции и&nbsp;другие удобства.
				h2 Стеклянные шторы для ванн Grossman&nbsp;h2
				p ДУШЕВЫЕ ОГРАЖДЕНИЯ GROSSMAN представлены сериями Status и&nbsp;Pragma. Многообразие цвета профилей, различные формы, эстетичный внешний вид душевых ограждений серии Pragma украсит ванную комнату в&nbsp;любом стиле. Pragma&nbsp;&mdash; просто, стильно, современно. Душевое ограждение Status создаст неповторимую атмосферу в&nbsp;ванной комнате. Авторский дизайн, высокопрочное стекло, петли с&nbsp;фигурной резьбой&nbsp;&mdash; все это придает элегантности и&nbsp;выгодно отличает душевые ограждения серии Status. Status&nbsp;&mdash; дорого, качественно, оригинально. Душевые ограждения GROSSMAN также представлены сериями: Cosmo, Galaxy, Style и&nbsp;Classic. Эти серии душевых ограждений GROSSMAN кардинально отличаются новым стилем отделки, многообразием форм и&nbsp;размеров, а&nbsp;также большим модельным рядом, что удовлетворит даже самого требовательного покупателя. Ограждения Grossman можно устанавливать на&nbsp;поддон или на&nbsp;пол с&nbsp;трапом.
				ul 
					li 
						span всегда в&nbsp;наличии на&nbsp;складе полный ассортимент сантехники Grossman
					li 
						span душевые кабины и&nbsp;уголки
					li 
						span ванны, унитазы, раковины
					li 
						span бесплатная доставка продукции по&nbsp;Москве и&nbsp;Московской области 
					li 
						span квалифицированный монтаж с&nbsp;гарантией до&nbsp;5&nbsp;лет
				h3 Стеклянные шторы для ванн Grossman&nbsp;h3
				p Ведь, если в&nbsp;ванной есть так называемый &laquo;мертвый угол&raquo;, его запросто можно &laquo;оживить&raquo; с&nbsp;помощью душевой кабины и&nbsp;тем самым освободить пространство для других целей. Но&nbsp;не&nbsp;думайте, что компактность не&nbsp;дружит с&nbsp;функциональностью и&nbsp;удобством. Разубедить вас в&nbsp;этом нам помогут немецкие душевые кабины Grossman.
				p Стильные, удобные, много размерные&nbsp;&mdash; они запросто вписываются, как в&nbsp;ванные комнаты городских квартир, так и&nbsp;являются замечательным дополнением просторных душевых боксов загородных особняков.
				h4 Стеклянные шторы для ванн Grossman h4-h6
				p Ведь, если в&nbsp;ванной есть так называемый &laquo;мертвый угол&raquo;, его запросто можно &laquo;оживить&raquo; с&nbsp;помощью душевой кабины и&nbsp;тем самым освободить пространство для других целей. Но&nbsp;не&nbsp;думайте, что компактность не&nbsp;дружит с&nbsp;функциональностью и&nbsp;удобством. Разубедить вас в&nbsp;этом нам помогут немецкие душевые кабины Grossman.
				p Стильные, удобные, много размерные&nbsp;&mdash; они запросто вписываются, как в&nbsp;ванные комнаты городских квартир, так и&nbsp;являются замечательным дополнением просторных душевых боксов загородных особняков.
				
	
	//- +top-nav()
	//- +in-c("checkbox", "text")
	//- +topLine() 
	//- +headerBlock()
	//- +sForm()
	//- +catalog-block('qwer').pt-0
	//- +sContact()
	//-
	//- +topLine()
	//- +advantages()
	//- +about-company()
	//- +sCatalog({title: 'Hовинки'})
	//- +sCatalog2({title: 'Хит продаж'})
	+footer().mt-0