extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'title'
	title= title
block pagecontent

	//- +mob-mnu()
	+header()
	//- +top-nav()
	//- +in-c("checkbox", "text")
	//- +topLine() 
	//- +headerBlock()
	//- +sForm()
	//- +sContact()
	//-

	
	main
		.main-inner
			.container
				.row
					.col-3.hide-1199
						.menu-left
							h3.title-withLine Каталог товаров
							.border-style.vm-parent
								ul.def-ul.catalog-list.vert-menu
									li.vm-item.arrowDown.h-White
										.icon-wrap
											i.icon-2-8_catalog1
										a.defLink(href='#') Трубопроводная и запорно-регулирующая арматура
										.vm-menu.dropdown
											.navList
												.firstColumn
													ul.def-ul
														li.item
															.icon-wrap
																i.icon-2-8_catalog1
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Задвижки
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Стальные
																	li
																		a.defLink.h-Flamenco-1(href='#') Чугунные
																	li
																		a.defLink.h-Flamenco-1(href='#') Нержавеющие
														li.item
															.icon-wrap
																i.icon-4-1_catalog-list2
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Задвижки шиберные
														li.item
															.icon-wrap
																i.icon-4-2_catalog-list3
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Затворы
														li.item
															.icon-wrap
																i.icon-4-3_catalog-list4
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Краны шаровые
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Стальные
																	li
																		a.defLink.h-Flamenco-1(href='#') Латунные
																	li
																		a.defLink.h-Flamenco-1(href='#') Нержавеющие
																	li
																		a.defLink.h-Flamenco-1(href='#') Чугунные
												.secondColumn
													ul.def-ul
														li.item
															.icon-wrap
																i.icon-4-4_catalog-list5
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Краны пробковые
														li.item
															.icon-wrap
																i.icon-4-5_catalog-list6
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Клапаны
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Запорные 
																	li
																		a.defLink.h-Flamenco-1(href='#') Обратные
																	li
																		a.defLink.h-Flamenco-1(href='#') Балансировочные
																	li
																		a.defLink.h-Flamenco-1(href='#') Предохранительные
																	li
																		a.defLink.h-Flamenco-1(href='#') Запорно-регулирующие
														li.item
															.icon-wrap
																i.icon-4-6_catalog-list7
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Фильтры и грязевики
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Фильтры
																	li
																		a.defLink.h-Flamenco-1(href='#') Грязевики
														li.item
															.icon-wrap
																i.icon-4-7_catalog-list8
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Электроприводы
												.thirdColumn
													.card
														.card-img(style='background-image: url(assets/images/product1.jpg)')
														.card-body
															strong Задвижка нержавеющая клиновая фланцевая 
															p ЗКЛ2-16 30нж41нж Ду80 Ру16, Нитэкмаш Сервис
															a.defLink.Btn.Btn-Wedgewood(href='#') подробнее
									li.vm-item.arrowDown.h-White
										.icon-wrap
											i.icon-2-9_catalog2
										a.defLink(href='#') Детали трубопроводов
										.vm-menu.dropdown
											.navList
												.firstColumn
													ul.def-ul
														li.item
															.icon-wrap
																i.icon-2-8_catalog1
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Задвижки
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Стальные
																	li
																		a.defLink.h-Flamenco-1(href='#') Чугунные
																	li
																		a.defLink.h-Flamenco-1(href='#') Нержавеющие
														li.item
															.icon-wrap
																i.icon-4-1_catalog-list2
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Задвижки шиберные
														li.item
															.icon-wrap
																i.icon-4-2_catalog-list3
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Затворы
														li.item
															.icon-wrap
																i.icon-4-3_catalog-list4
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Краны шаровые
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Стальные
																	li
																		a.defLink.h-Flamenco-1(href='#') Латунные
																	li
																		a.defLink.h-Flamenco-1(href='#') Нержавеющие
																	li
																		a.defLink.h-Flamenco-1(href='#') Чугунные
												.secondColumn
													ul.def-ul
														li.item
															.icon-wrap
																i.icon-4-4_catalog-list5
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Краны пробковые
														li.item
															.icon-wrap
																i.icon-4-5_catalog-list6
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Клапаны
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Запорные 
																	li
																		a.defLink.h-Flamenco-1(href='#') Обратные
																	li
																		a.defLink.h-Flamenco-1(href='#') Балансировочные
																	li
																		a.defLink.h-Flamenco-1(href='#') Предохранительные
																	li
																		a.defLink.h-Flamenco-1(href='#') Запорно-регулирующие
														li.item
															.icon-wrap
																i.icon-4-6_catalog-list7
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Фильтры и грязевики
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Фильтры
																	li
																		a.defLink.h-Flamenco-1(href='#') Грязевики
														li.item
															.icon-wrap
																i.icon-4-7_catalog-list8
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Электроприводы
												.thirdColumn
													.card
														.card-img(style='background-image: url(assets/images/product1.jpg)')
														.card-body
															strong Детали трубопроводов
															p ЗКЛ2-16 30нж41нж Ду80 Ру16, Нитэкмаш Сервис
															a.defLink.Btn.Btn-Wedgewood(href='#') подробнее
									li.vm-item.arrowDown.h-White
										.icon-wrap
											i.icon-3-0_catalog3
										a.defLink(href='#') Опоры трубопроводов
										.vm-menu.dropdown
											.navList
												.firstColumn
													ul.def-ul
														li.item
															.icon-wrap
																i.icon-4-2_catalog-list3
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Затворы
														li.item
															.icon-wrap
																i.icon-4-3_catalog-list4
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Краны шаровые
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Стальные
																	li
																		a.defLink.h-Flamenco-1(href='#') Латунные
																	li
																		a.defLink.h-Flamenco-1(href='#') Нержавеющие
																	li
																		a.defLink.h-Flamenco-1(href='#') Чугунные
									li.vm-item.arrowDown.h-White
										.icon-wrap
											i.icon-3-1_catalog4
										a.defLink(href='#') Контрольно-измерительные приборы
										.vm-menu.dropdown
											.navList
												.firstColumn
													ul.def-ul
														li.item
															.icon-wrap
																i.icon-2-8_catalog1
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Задвижки
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Стальные
																	li
																		a.defLink.h-Flamenco-1(href='#') Чугунные
																	li
																		a.defLink.h-Flamenco-1(href='#') Нержавеющие
														li.item
															.icon-wrap
																i.icon-4-1_catalog-list2
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Задвижки шиберные
														li.item
															.icon-wrap
																i.icon-4-2_catalog-list3
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Затворы
														li.item
															.icon-wrap
																i.icon-4-3_catalog-list4
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Краны шаровые
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Стальные
																	li
																		a.defLink.h-Flamenco-1(href='#') Латунные
																	li
																		a.defLink.h-Flamenco-1(href='#') Нержавеющие
																	li
																		a.defLink.h-Flamenco-1(href='#') Чугунные
												.secondColumn
													ul.def-ul
														li.item
															.icon-wrap
																i.icon-4-4_catalog-list5
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Краны пробковые
														li.item
															.icon-wrap
																i.icon-4-5_catalog-list6
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Клапаны
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Запорные 
																	li
																		a.defLink.h-Flamenco-1(href='#') Обратные
																	li
																		a.defLink.h-Flamenco-1(href='#') Балансировочные
																	li
																		a.defLink.h-Flamenco-1(href='#') Предохранительные
																	li
																		a.defLink.h-Flamenco-1(href='#') Запорно-регулирующие
														li.item
															.icon-wrap
																i.icon-4-6_catalog-list7
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Фильтры и грязевики
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Фильтры
																	li
																		a.defLink.h-Flamenco-1(href='#') Грязевики
														li.item
															.icon-wrap
																i.icon-4-7_catalog-list8
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Электроприводы
												.thirdColumn
													.card
														.card-img(style='background-image: url(assets/images/product1.jpg)')
														.card-body
															strong Детали трубопроводов
															p ЗКЛ2-16 30нж41нж Ду80 Ру16, Нитэкмаш Сервис
															a.defLink.Btn.Btn-Wedgewood(href='#') подробнее
									li.vm-item.arrowDown.h-White
										.icon-wrap
											i.icon-3-2_catalog5
										a.defLink(href='#') Отопительное оборудование
										.vm-menu.dropdown
											.navList
												.firstColumn
													ul.def-ul
														li.item
															.icon-wrap
																i.icon-2-8_catalog1
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Задвижки
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Стальные
																	li
																		a.defLink.h-Flamenco-1(href='#') Чугунные
																	li
																		a.defLink.h-Flamenco-1(href='#') Нержавеющие
														li.item
															.icon-wrap
																i.icon-4-1_catalog-list2
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Задвижки шиберные
														li.item
															.icon-wrap
																i.icon-4-2_catalog-list3
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Затворы
														li.item
															.icon-wrap
																i.icon-4-3_catalog-list4
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Краны шаровые
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Стальные
																	li
																		a.defLink.h-Flamenco-1(href='#') Латунные
																	li
																		a.defLink.h-Flamenco-1(href='#') Нержавеющие
																	li
																		a.defLink.h-Flamenco-1(href='#') Чугунные
												.secondColumn
													ul.def-ul
														li.item
															.icon-wrap
																i.icon-4-4_catalog-list5
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Краны пробковые
														li.item
															.icon-wrap
																i.icon-4-5_catalog-list6
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Клапаны
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Запорные 
																	li
																		a.defLink.h-Flamenco-1(href='#') Обратные
																	li
																		a.defLink.h-Flamenco-1(href='#') Балансировочные
																	li
																		a.defLink.h-Flamenco-1(href='#') Предохранительные
																	li
																		a.defLink.h-Flamenco-1(href='#') Запорно-регулирующие
														li.item
															.icon-wrap
																i.icon-4-6_catalog-list7
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Фильтры и грязевики
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Фильтры
																	li
																		a.defLink.h-Flamenco-1(href='#') Грязевики
														li.item
															.icon-wrap
																i.icon-4-7_catalog-list8
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Электроприводы
												.thirdColumn
													.card
														.card-img(style='background-image: url(assets/images/product1.jpg)')
														.card-body
															strong Детали трубопроводов
															p ЗКЛ2-16 30нж41нж Ду80 Ру16, Нитэкмаш Сервис
															a.defLink.Btn.Btn-Wedgewood(href='#') подробнее
									li.vm-item.arrowDown.h-White
										.icon-wrap
											i.icon-3-3_catalog6
										a.defLink(href='#') Компенсаторы
										.vm-menu.dropdown
											.navList
												.firstColumn
													ul.def-ul
														li.item
															.icon-wrap
																i.icon-2-8_catalog1
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Задвижки
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Стальные
																	li
																		a.defLink.h-Flamenco-1(href='#') Чугунные
																	li
																		a.defLink.h-Flamenco-1(href='#') Нержавеющие
														li.item
															.icon-wrap
																i.icon-4-1_catalog-list2
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Задвижки шиберные
														li.item
															.icon-wrap
																i.icon-4-2_catalog-list3
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Затворы
														li.item
															.icon-wrap
																i.icon-4-3_catalog-list4
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Краны шаровые
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Стальные
																	li
																		a.defLink.h-Flamenco-1(href='#') Латунные
																	li
																		a.defLink.h-Flamenco-1(href='#') Нержавеющие
																	li
																		a.defLink.h-Flamenco-1(href='#') Чугунные
												.secondColumn
													ul.def-ul
														li.item
															.icon-wrap
																i.icon-4-4_catalog-list5
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Краны пробковые
														li.item
															.icon-wrap
																i.icon-4-5_catalog-list6
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Клапаны
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Запорные 
																	li
																		a.defLink.h-Flamenco-1(href='#') Обратные
																	li
																		a.defLink.h-Flamenco-1(href='#') Балансировочные
																	li
																		a.defLink.h-Flamenco-1(href='#') Предохранительные
																	li
																		a.defLink.h-Flamenco-1(href='#') Запорно-регулирующие
														li.item
															.icon-wrap
																i.icon-4-6_catalog-list7
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Фильтры и грязевики
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Фильтры
																	li
																		a.defLink.h-Flamenco-1(href='#') Грязевики
														li.item
															.icon-wrap
																i.icon-4-7_catalog-list8
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Электроприводы
												.thirdColumn
													.card
														.card-img(style='background-image: url(assets/images/product1.jpg)')
														.card-body
															strong Детали трубопроводов
															p ЗКЛ2-16 30нж41нж Ду80 Ру16, Нитэкмаш Сервис
															a.defLink.Btn.Btn-Wedgewood(href='#') подробнее
									li.vm-item.arrowDown.h-White
										.icon-wrap
											i.icon-3-4_catalog7
										a.defLink(href='#') Уплотнители и крепеж
										.vm-menu.dropdown
											.navList
												.firstColumn
													ul.def-ul
														li.item
															.icon-wrap
																i.icon-4-2_catalog-list3
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Затворы
														li.item
															.icon-wrap
																i.icon-4-3_catalog-list4
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Краны шаровые
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Стальные
																	li
																		a.defLink.h-Flamenco-1(href='#') Латунные
																	li
																		a.defLink.h-Flamenco-1(href='#') Нержавеющие
																	li
																		a.defLink.h-Flamenco-1(href='#') Чугунные
									li.vm-item.arrowDown.h-White
										.icon-wrap
											i.icon-3-5_catalog8
										a.defLink(href='#') Трубы
										.vm-menu.dropdown
											.navList
												.firstColumn
													ul.def-ul
														li.item
															.icon-wrap
																i.icon-2-8_catalog1
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Задвижки
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Стальные
																	li
																		a.defLink.h-Flamenco-1(href='#') Чугунные
																	li
																		a.defLink.h-Flamenco-1(href='#') Нержавеющие
														li.item
															.icon-wrap
																i.icon-4-1_catalog-list2
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Задвижки шиберные
														li.item
															.icon-wrap
																i.icon-4-2_catalog-list3
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Затворы
														li.item
															.icon-wrap
																i.icon-4-3_catalog-list4
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Краны шаровые
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Стальные
																	li
																		a.defLink.h-Flamenco-1(href='#') Латунные
																	li
																		a.defLink.h-Flamenco-1(href='#') Нержавеющие
																	li
																		a.defLink.h-Flamenco-1(href='#') Чугунные
												.secondColumn
													ul.def-ul
														li.item
															.icon-wrap
																i.icon-4-4_catalog-list5
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Краны пробковые
														li.item
															.icon-wrap
																i.icon-4-5_catalog-list6
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Клапаны
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Запорные 
																	li
																		a.defLink.h-Flamenco-1(href='#') Обратные
																	li
																		a.defLink.h-Flamenco-1(href='#') Балансировочные
																	li
																		a.defLink.h-Flamenco-1(href='#') Предохранительные
																	li
																		a.defLink.h-Flamenco-1(href='#') Запорно-регулирующие
														li.item
															.icon-wrap
																i.icon-4-6_catalog-list7
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Фильтры и грязевики
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Фильтры
																	li
																		a.defLink.h-Flamenco-1(href='#') Грязевики
														li.item
															.icon-wrap
																i.icon-4-7_catalog-list8
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Электроприводы
									li.vm-item.arrowDown.h-White
										.icon-wrap
											i.icon-3-6_catalog9
										a.defLink(href='#') Фитинги
										.vm-menu.dropdown
											.navList
												.firstColumn
													ul.def-ul
														li.item
															.icon-wrap
																i.icon-4-2_catalog-list3
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Затворы
														li.item
															.icon-wrap
																i.icon-4-3_catalog-list4
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Краны шаровые
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Стальные
																	li
																		a.defLink.h-Flamenco-1(href='#') Латунные
																	li
																		a.defLink.h-Flamenco-1(href='#') Нержавеющие
																	li
																		a.defLink.h-Flamenco-1(href='#') Чугунные
									li.vm-item.arrowDown.h-White
										.icon-wrap
											i.icon-3-7_catalog10
										a.defLink(href='#') Теплоизоляция
										.vm-menu.dropdown
											.navList
												.firstColumn
													ul.def-ul
														li.item
															.icon-wrap
																i.icon-2-8_catalog1
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Задвижки
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Стальные
																	li
																		a.defLink.h-Flamenco-1(href='#') Чугунные
																	li
																		a.defLink.h-Flamenco-1(href='#') Нержавеющие
														li.item
															.icon-wrap
																i.icon-4-1_catalog-list2
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Задвижки шиберные
														li.item
															.icon-wrap
																i.icon-4-2_catalog-list3
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Затворы
														li.item
															.icon-wrap
																i.icon-4-3_catalog-list4
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Краны шаровые
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Стальные
																	li
																		a.defLink.h-Flamenco-1(href='#') Латунные
																	li
																		a.defLink.h-Flamenco-1(href='#') Нержавеющие
																	li
																		a.defLink.h-Flamenco-1(href='#') Чугунные
												.secondColumn
													ul.def-ul
														li.item
															.icon-wrap
																i.icon-4-4_catalog-list5
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Краны пробковые
														li.item
															.icon-wrap
																i.icon-4-5_catalog-list6
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Клапаны
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Запорные 
																	li
																		a.defLink.h-Flamenco-1(href='#') Обратные
																	li
																		a.defLink.h-Flamenco-1(href='#') Балансировочные
																	li
																		a.defLink.h-Flamenco-1(href='#') Предохранительные
																	li
																		a.defLink.h-Flamenco-1(href='#') Запорно-регулирующие
														li.item
															.icon-wrap
																i.icon-4-6_catalog-list7
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Фильтры и грязевики
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Фильтры
																	li
																		a.defLink.h-Flamenco-1(href='#') Грязевики
														li.item
															.icon-wrap
																i.icon-4-7_catalog-list8
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Электроприводы
									li.vm-item.arrowDown.h-White
										.icon-wrap
											i.icon-3-8_catalog11
										a.defLink(href='#') Канализационное оборудование
										.vm-menu.dropdown
											.navList
												.firstColumn
													ul.def-ul
														li.item
															.icon-wrap
																i.icon-4-2_catalog-list3
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Затворы
														li.item
															.icon-wrap
																i.icon-4-3_catalog-list4
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Краны шаровые
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Стальные
																	li
																		a.defLink.h-Flamenco-1(href='#') Латунные
																	li
																		a.defLink.h-Flamenco-1(href='#') Нержавеющие
																	li
																		a.defLink.h-Flamenco-1(href='#') Чугунные
									li.vm-item.arrowDown.h-White
										.icon-wrap
											i.icon-3-9_catalog12
										a.defLink(href='#') Противопожарное оборудование
										.vm-menu.dropdown
											.navList
												.firstColumn
													ul.def-ul
														li.item
															.icon-wrap
																i.icon-2-8_catalog1
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Задвижки
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Стальные
																	li
																		a.defLink.h-Flamenco-1(href='#') Чугунные
																	li
																		a.defLink.h-Flamenco-1(href='#') Нержавеющие
														li.item
															.icon-wrap
																i.icon-4-1_catalog-list2
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Задвижки шиберные
														li.item
															.icon-wrap
																i.icon-4-2_catalog-list3
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Затворы
														li.item
															.icon-wrap
																i.icon-4-3_catalog-list4
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Краны шаровые
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Стальные
																	li
																		a.defLink.h-Flamenco-1(href='#') Латунные
																	li
																		a.defLink.h-Flamenco-1(href='#') Нержавеющие
																	li
																		a.defLink.h-Flamenco-1(href='#') Чугунные
												.secondColumn
													ul.def-ul
														li.item
															.icon-wrap
																i.icon-4-4_catalog-list5
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Краны пробковые
														li.item
															.icon-wrap
																i.icon-4-5_catalog-list6
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Клапаны
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Запорные 
																	li
																		a.defLink.h-Flamenco-1(href='#') Обратные
																	li
																		a.defLink.h-Flamenco-1(href='#') Балансировочные
																	li
																		a.defLink.h-Flamenco-1(href='#') Предохранительные
																	li
																		a.defLink.h-Flamenco-1(href='#') Запорно-регулирующие
														li.item
															.icon-wrap
																i.icon-4-6_catalog-list7
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Фильтры и грязевики
																ul.def-ul
																	li
																		a.defLink.h-Flamenco-1(href='#') Фильтры
																	li
																		a.defLink.h-Flamenco-1(href='#') Грязевики
														li.item
															.icon-wrap
																i.icon-4-7_catalog-list8
															.list
																a.defLink.h-Flamenco-1(href='#')
																	b Электроприводы
							h3.title-withLine Наши услуги
							.border-style
								ul.def-ul.service-list
									li.arrowDown
										.icon-wrap
											i.icon-4-8_service1
										a.defLink(href='') Металлообработка и металлоконструкции
										.dropdown
											ul.def-ul
												li
													a.defLink.h-Flamenco-1(href='#') Изготовление металлокнструкций 
												li
													a.defLink.h-Flamenco-1(href='#') Лазерная резка 
												li
													a.defLink.h-Flamenco-1(href='#') Лентопильная резка 
												li
													a.defLink.h-Flamenco-1(href='#') Плазменная резка 
												li
													a.defLink.h-Flamenco-1(href='#') Газовая резка 
												li
													a.defLink.h-Flamenco-1(href='#') Сварка 
												li
													a.defLink.h-Flamenco-1(href='#') Нарезка резьбы 
												li
													a.defLink.h-Flamenco-1(href='#') Переточка фланцев под исполнение 
									li.arrowDown
										.icon-wrap
											i.icon-4-9_service2
										a.defLink(href='') ППУ, ВУС, ППМ, ЦПИ изоляция 
									li
										.icon-wrap
											i.icon-5-0_service3
										a.defLink(href='') Грунтовка и покраска металла
									li.arrowDown
										.icon-wrap
											i.icon-5-1_service4
										a.defLink(href='') Цинкование металла 
							.banner-advertising
								img(src='assets/images/banner-adv.jpg' alt='')
					.col-9.full-1199
						.main-slider.swiper-container
							.swiper-wrapper
								.swiper-slide(style='background-image: url(assets/images/main-slider1.jpg)')
									.main-slider__text
										.main-slider__text-inner
											p
												| ТРУБОПРОВОДНАЯ И 
												br
												| ЗАПОРНО-РЕГУЛИРУЮЩАЯ АРМАТУРА
										a.defLink.Btn.Btn-Wedgewood(href='#') в каталог
								.swiper-slide(style='background-image: url(assets/images/main-slider1.jpg)')
									.main-slider__text
										.main-slider__text-inner
											p
												| ТРУБОПРОВОДНАЯ И 
												br
												| ЗАПОРНО-РЕГУЛИРУЮЩАЯ АРМАТУРА
										a.defLink.Btn.Btn-Wedgewood(href='#') в каталог
								.swiper-slide(style='background-image: url(assets/images/main-slider1.jpg)')
									.main-slider__text
										.main-slider__text-inner
											p
												| ТРУБОПРОВОДНАЯ И 
												br
												| ЗАПОРНО-РЕГУЛИРУЮЩАЯ АРМАТУРА
										a.defLink.Btn.Btn-Wedgewood(href='#') в каталог
							.swiper-pagination
							.swiper-button-prev
							.swiper-button-next
						.catalog-block
							h2.section-title
								span Каталог
								|  товаров
							.row
								.col-sm-3.col-6.Item
									a.card-type-1(href='#')
										.card-img(style='background-image: url(assets/images/catalog-img1.jpg)')
										.card-body
											strong Трубопроводная и запорно-регулирующая арматура
								.col-sm-3.col-6.Item
									a.card-type-1(href='#')
										.card-img(style='background-image: url(assets/images/catalog-img2.jpg)')
										.card-body
											strong Детали трубопроводов
								.col-sm-3.col-6.Item
									a.card-type-1(href='#')
										.card-img(style='background-image: url(assets/images/catalog-img3.jpg)')
										.card-body
											strong Опоры трубопроводов
								.col-sm-3.col-6.Item
									a.card-type-1(href='#')
										.card-img(style='background-image: url(assets/images/catalog-img4.jpg)')
										.card-body
											strong Компенсаторы
								.col-sm-3.col-6.Item
									a.card-type-1(href='#')
										.card-img(style='background-image: url(assets/images/catalog-img5.jpg)')
										.card-body
											strong Трубы
								.col-sm-3.col-6.Item
									a.card-type-1(href='#')
										.card-img(style='background-image: url(assets/images/catalog-img6.jpg)')
										.card-body
											strong Теплоизоляция
								.col-sm-3.col-6.Item
									a.card-type-1(href='#')
										.card-img(style='background-image: url(assets/images/catalog-img7.jpg)')
										.card-body
											strong Отопительное оборудование
								.col-sm-3.col-6.Item
									a.card-type-1(href='#')
										.card-img(style='background-image: url(assets/images/catalog-img8.jpg)')
										.card-body
											strong Контрольно-измерительные приборы
								.col-sm-3.col-6.Item
									a.card-type-1(href='#')
										.card-img(style='background-image: url(assets/images/catalog-img9.jpg)')
										.card-body
											strong Уплотнители и крепеж
								.col-sm-3.col-6.Item
									a.card-type-1(href='#')
										.card-img(style='background-image: url(assets/images/catalog-img10.jpg)')
										.card-body
											strong Фитинги
								.col-sm-3.col-6.Item
									a.card-type-1(href='#')
										.card-img(style='background-image: url(assets/images/catalog-img11.jpg)')
										.card-body
											strong Канализационное оборудование
								.col-sm-3.col-6.Item
									a.card-type-1(href='#')
										.card-img(style='background-image: url(assets/images/catalog-img12.jpg)')
										.card-body
											strong Противопожарное оборудование
						.row.service-block
							.col-12
								h2.section-title
									span наши
									|  услуги
							.col-sm-3.col-6.Item
								a.card-type-2(href='#')
									.card-img(style='background-image: url(assets/images/service-img1.jpg)')
									.card-body
										strong Металлообработка и металлоконструкции
							.col-sm-3.col-6.Item
								a.card-type-2(href='#')
									.card-img(style='background-image: url(assets/images/service-img2.jpg)')
									.card-body
										strong ППУ, ВУС, ППМ, ЦПИ изоляция
							.col-sm-3.col-6.Item
								a.card-type-2(href='#')
									.card-img(style='background-image: url(assets/images/service-img3.jpg)')
									.card-body
										strong Грунтовка и покраска металла
							.col-sm-3.col-6.Item
								a.card-type-2(href='#')
									.card-img(style='background-image: url(assets/images/service-img4.jpg)')
									.card-body
										strong Цинкование металла
			.Full-block__outer
				.container
					.row.Full-block
						.col-6.block__wrap1
							.advantage-block
								h2.section-title
									span наши
									|  преимущества
								.advantage-block__inner
									ul.def-ul
										li.item
											.item__inner
												.wrap
													i.icon-5-2_advantage1
													span.item__popup
														| Здесь будет краткое пояснение преимущества в несколько строк Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
												p
													| Возможность доставки по 
													br
													| Москве, МО в день обращения
										li.item
											.item__inner
												.wrap
													i.icon-5-3_advantage2
													span.item__popup
														| Здесь будет краткое пояснение преимущества в несколько строк Lorem Ipsum - это текст-"рыба"
												p
													| Производственный комплекс: 
													br
													|  металлоконструкции /
													br
													| металлообработка
										li.item
											.item__inner
												.wrap
													i.icon-5-4_advantage3
													span.item__popup
														| Здесь будет краткое пояснение преимущества в несколько строк Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. , часто используемый в печати и вэб-дизайне.
												p
													| Широкий ассортимент 
													br
													| товаров
										li.item
											.item__inner
												.wrap
													i.icon-5-5_advantage4
													span.item__popup
														| Здесь будет краткое пояснение преимущества в несколько строк Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
												p
													| Комплексное снабжение 
													br
													| объектов
										li.item
											.item__inner
												.wrap
													i.icon-5-6_advantage5
													span.item__popup
														| Здесь будет краткое пояснение преимущества в несколько строк Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
												p Отсрочка платежа
										li.item
											.item__inner
												.wrap
													i.icon-5-7_advantage6
													span.item__popup
														| Здесь будет краткое пояснение преимущества в несколько строк Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
												p
													| Мелкая розница и 
													br
													| крупный опт
										li.item
											.item__inner
												.wrap
													i.icon-5-8_advantage7
													span.item__popup
														| Здесь будет краткое пояснение преимущества в несколько строк Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
												p
													| Бесплатная инженерно-
													br
													| техническая консультация с 
													br
													| выездом на объект
										li.item
											.item__inner
												.wrap
													i.icon-5-9_advantage8
													span.item__popup
														| Здесь будет краткое пояснение преимущества в несколько строк Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
												p
													| Гарантия безопасности 
													br
													| сотрудничества
										li.item
											.item__inner
												.wrap
													i.icon-6-0_advantage9
													span.item__popup
														| Здесь будет краткое пояснение преимущества в несколько строк Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
												p
													| Складское наличие 
													br
													| редких позиций
										li.item
											.item__inner
												img.logo(src='assets/svg/logo-part-white.svg' alt='')
						.col-6.block__wrap2
							.about-block
								.about-block__inner
									h2.section-title
										span о
										|  компании
									p.subtitle вся трубопроводная арматура
									.typography
										p
											| Здесь будет текст о вашей компании в несколько строк Lorem Ipsum - это текст-"рыба", часто
											| используемый в печати и вэб-дизайне.
										p
											| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время
											| некий
											| безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для
											| распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но
											| и
											| перешагнул в электронный дизайн. Его популяризации в новое время послужили образцами Lorem Ipsum
											| в
											| 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker в
											| шаблонах
											| которых используется Lorem Ipsum. Lorem Ipsum для распечатки образцов...
									a.defLink.Btn.Btn-Wedgewood(href='') читать еще
			.container
				.row
					.col-12
						.feedback
							form(action='')
								.feedback__inner
									h2.section-title
										span закажите
										|  обратный звонок
									.feedback-brims
										label.input-wrap
											input.input(type='text' placeholder='Ваше имя')
										label.input-wrap
											input.input(type='tel' placeholder='Телефон')
										button.defBtn.Btn.Btn-Wedgewood(type='button') отправить
				.row.brend-block
					.col-12
						h2.section-title
							span Бренды
						.brend-block__inner
							.brend-block__slider.swiper-container
								.swiper-wrapper
									.swiper-slide.ItemStyle(style='background-image: url(assets/images/brend-img1.jpg)')
									.swiper-slide.ItemStyle(style='background-image: url(assets/images/brend-img2.jpg)')
									.swiper-slide.ItemStyle(style='background-image: url(assets/images/brend-img3.jpg)')
									.swiper-slide.ItemStyle(style='background-image: url(assets/images/brend-img4.jpg)')
									.swiper-slide.ItemStyle(style='background-image: url(assets/images/brend-img5.jpg)')
									.swiper-slide.ItemStyle(style='background-image: url(assets/images/brend-img6.jpg)')
									.swiper-slide.ItemStyle(style='background-image: url(assets/images/brend-img2.jpg)')
									.swiper-slide.ItemStyle(style='background-image: url(assets/images/brend-img3.jpg)')
								.swiper-button-prev.bx-ie10.bx-ie11
								.swiper-button-next.bx-ie10.bx-ie11
				.row.customer-block
					.col-12
						h2.section-title
							span Наши
							|  клиенты
						.customer-block__inner
							.customer-block__slider.swiper-container
								.swiper-wrapper
									.swiper-slide.ItemStyle(style='background-image: url(assets/images/customer-img1.jpg)')
									.swiper-slide.ItemStyle(style='background-image: url(assets/images/customer-img2.jpg)')
									.swiper-slide.ItemStyle(style='background-image: url(assets/images/customer-img3.jpg)')
									.swiper-slide.ItemStyle(style='background-image: url(assets/images/customer-img4.jpg)')
									.swiper-slide.ItemStyle(style='background-image: url(assets/images/customer-img5.jpg)')
									.swiper-slide.ItemStyle(style='background-image: url(assets/images/customer-img6.jpg)')
									.swiper-slide.ItemStyle(style='background-image: url(assets/images/customer-img2.jpg)')
									.swiper-slide.ItemStyle(style='background-image: url(assets/images/customer-img3.jpg)')
								.swiper-button-prev.bx-ie10.bx-ie11
								.swiper-button-next.bx-ie10.bx-ie11
	+footer()
	