<nav class="menu-wrap">
    <ul class="menu menu-min def-ul">
        <li class="arrowDown">
            <a class="defLink h-Flamenco-1" href="#">О компании</a>
            <ul class="def-ul dropdown">
                <li><a class="defLink h-Flamenco-1" href="#">О компании</a></li>
                <li><a class="defLink h-Flamenco-1" href="#">Новости </a></li>
                <li><a class="defLink h-Flamenco-1" href="#">Вакансии</a></li>
            </ul>
        </li>
        <li class="arrowDown">
            <a class="defLink h-Flamenco-1" href="#">Клиентам</a>
            <ul class="def-ul dropdown">
                <li><a class="defLink h-Flamenco-1" href="#">Как сделать заказ </a></li>
                <li><a class="defLink h-Flamenco-1" href="#">Оплата </a></li>
                <li><a class="defLink h-Flamenco-1" href="#">Банковские реквизиты</a></li>
                <li><a class="defLink h-Flamenco-1" href="#">Юридическая информация</a></li>
                <li><a class="defLink h-Flamenco-1" href="#">Статьи</a></li>
                <li><a class="defLink h-Flamenco-1" href="#">Частые вопросы</a></li>
            </ul>
        </li>
        <li class="arrowDown">
            <a class="defLink h-Flamenco-1" href="#">Контакты</a>
            <ul class="def-ul dropdown">
                <li><a class="defLink h-Flamenco-1" href="#">Контактная информация</a></li>
                <li><a class="defLink h-Flamenco-1" href="#">Напишите нам </a></li>
                <li><a class="defLink h-Flamenco-1" href="#">Обратный звонок</a></li>
                <li><a class="defLink h-Flamenco-1" href="#">Написать руководителю</a></li>
            </ul>
        </li>
        <li>
            <a class="defLink h-Flamenco-1" href="#">Доставка</a>
        </li>
    </ul>
</nav>