
	// start .about-company
	.about-company {
		padding: rem(50) 0 rem(30);
		color: $dark;
		@include media-breakpoint-down(lg) {
			padding: rem(25) 0 rem(35);
		}


		&__title {
			position: relative;
			z-index: 3;
			font-size: $h2-font-size;
			font-weight: 300;
			text-transform: uppercase;
			margin-bottom: rem(10);
			@include media-breakpoint-down(lg) {
				margin-bottom: rem(10);
				font-size: rem(30);
			}
			
			@include media-breakpoint-down(md) {
				font-size: rem(25);
			}

		}

		&__descr {
			position: relative;
			z-index: 3;
			color: #686868;
			font-size: 14px;
			font-weight: 400;
			text-transform: uppercase;
			margin-bottom: rem(40);
			@include media-breakpoint-down(lg) {
				margin-bottom: rem(20);
			}
		}

		&__subtitle {
			position: relative;
			z-index: 3;
			font-size: rem(16);
			font-weight: 300;
			text-transform: uppercase;
			margin-bottom: rem(3);
		}

		&__content {
			position: relative;
			z-index: 3;
			font-size: rem(16);
			font-weight: 300;
			margin-bottom: rem(25);
			@include media-breakpoint-down(lg) {
				margin-bottom: rem(15);
			}
		}

		&__content:last-of-type {
			margin-bottom: rem(30);
			@include media-breakpoint-down(lg) {
				margin-bottom: rem(25);
			}
		}

		&__img-wrapper {
			background-color: $white;
			height: 100%;
			display: flex;
			align-items: center;
			@include media-breakpoint-up(xxl) {
				margin-right: rem(-10);
			}
			&::before {
				content: "";
				background-image: url(../assets/svg/grossman-logo-transparent.svg);
				background-repeat: no-repeat;
				width: rem(755);
				height: rem(133);
				max-width: rem(755);
				max-height: rem(133);
				position: absolute;
				top: 7%;
				left: 32.5%;
				@media (max-width: 1700px) {
					top: 13%;
					width: rem(600);
					height: rem(106);
				}
				@media (max-width: 1550px) {
					top: 17%;
					left: 31.5%;
					width: rem(600);
					height: rem(106);
				}
				@media (max-width: 1450px) {
					top: 23%;
					left: 31.5%;
					width: rem(600);
					height: rem(106);
				}
				@media (max-width: 1400px) {
					top: 23%;
					left: 27.5%;
					width: rem(600);
					height: rem(106);
				}
				@include media-breakpoint-down(lg) {
					top: 17%;
					left: 20.5%;
				}
				@include media-breakpoint-down(md) {
					top: 6%;
					left: 13.5%;
					width: rem(480);
					height: rem(84);
				}
				@include media-breakpoint-down(sm) {
					top: 4%;
					left: 10.5%;
					width: rem(288);
					height: rem(50);
				}

			}
		}

		&__content-wrapper {
			background-color: $white;
			padding: rem(65) rem(45) rem(35) rem(42);
			height: 100%;
			@include media-breakpoint-up(xxl) {
				margin-left: rem(-10);
			}
			@include media-breakpoint-down(lg) {
				padding: rem(40) rem(30) rem(30) rem(25);
			}
			@include media-breakpoint-between(md, xxl) {
				background-color: transparent;
			}
		}

		&__img {	
				width: 100%;
				@include media-breakpoint-between(md, xxl) {
					@include a-cent;
					object-fit: cover;
					opacity: .5;
					z-index: -1;
					height: 100%;
					width: 100%;
				}
			}
			.rel {
				position: relative;
			}

		.Btn-Flamenco {
			font-size: rem(14);
			font-weight: 300;
			text-decoration: none;
			cursor: pointer;
			padding: 12px 40px;
		}
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.about-company