mixin about-company(data)
	// start about-company
	+b.SECTION.about-company.section#about-company&attributes(attributes)
		.container
			.row.rel
				.col-xxl-6
					+e.img-wrapper
						+e.IMG.img.res-i(src="assets/images/about-1.jpg", alt="")
				.col-xxl-6
					+e.content-wrapper
						+e.H1.title O компании
						+e.P.descr Официальный сайт сантехнического оборудования Grossman
						+e.P.content Продукция немецкой торговой марки Grossman сочетает в&nbsp;себе современный и&nbsp;неповторимый дизайн, высокое качество и&nbsp;экологически чистые материалы.
						+e.H3.subtitle Гидромассажные ванны Grossman
						+e.P.content Это многофункциональные модели, в&nbsp;которые уже включены опции гидромассажа, аэромассажа, подсветки, хромотеропии и&nbsp;другие удобства 21&nbsp;века. Все ванны имеют антискользящее покрытие. Гидромассажная ванна GROSSMAN, установленная в&nbsp;вашем доме, превращает обычное принятие ванны в&nbsp;способ расслабиться и&nbsp;отвлечься от&nbsp;повседневных проблем. Время, проведенное в&nbsp;ванне, улучшает ваше здоровье и&nbsp;позволяет насладиться приятным массажем с&nbsp;мягкой подсветкой.
						+e.H3.subtitle Стеклянные шторы для ванн Grossman
						+e.P.content Это специализированные стеклянные секции, которые ограждают ванну. Они предназначены для предотвращения разбрызгивания воды. Стекло&nbsp;&mdash; влагостойкий и&nbsp;практичный материал, оно подчеркнет все преимущества ванной комнаты. Именно стеклянные шторы для ванной GROSSMAN служат идеальным дополнением к&nbsp;любому предложенному стилю дизайнером интерьера. Стеклянные шторы GROSSMAN украсят любую комнату и&nbsp;придадут ей&nbsp;законченный вид. Шторы GROSSMAN&nbsp;&mdash; это немецкое качество по&nbsp;доступной цене.
						a.defBtn.Btn-Flamenco(href='#') Подробнее

	// end about-company