mixin sFilter(data)
	// start sFilter
	.subcategory-page
		.filter-wrap
			.filter-inner
				.row
					.col-xl-3.col-md-4.col-sm-6.filterItem
						.select-wrap(data-name='list7')
							.select-text.input(title='Ширина, см')
								input(type='hidden' value='Ширина, см')
								span Ширина, см
							.dropdown.scroll-always
								ul.def-ul(data-name='list7-body')
									li.allItem
										label
											input.checkItem(type='checkbox' value='Все')
											span Все
									li
										label
											input.checkItem(type='checkbox' value='10')
											span
												| 10
												sup 1
									li
										label
											input.checkItem(type='checkbox' value='20')
											span
												| 20
												sup 2
									li
										label
											input.checkItem(type='checkbox' value='30')
											span
												| 30
												sup 3
					.col-xl-3.col-md-4.col-sm-6.filterItem
						.select-wrap(data-name='list6')
							.select-text.input(title='Длина, L, мм.')
								input(type='hidden' value='Длина, L, мм.')
								span Длина, см.
							.dropdown.scroll-always
								ul.def-ul(data-name='list6-body')
									li.allItem
										label
											input.checkItem(type='checkbox' value='Все')
											span Все
									li
										label
											input.checkItem(type='checkbox' value='Россия')
											span
												| Россия
												sup 15
									li
										label
											input.checkItem(type='checkbox' value='Беларусь')
											span
												| Беларусь
												sup 35
									li
										label
											input.checkItem(type='checkbox' value='Испания')
											span
												| Испания
												sup 5
									li
										label
											input.checkItem(type='checkbox' value='Китай')
											span
												| Китай
												sup 7
					.col-xl-3.col-md-4.col-sm-6.filterItem
						.select-wrap(data-name='list7')
							.select-text.input(title='Высота, см')
								input(type='hidden' value='Высота, см')
								span Высота, см
							.dropdown.scroll-always
								ul.def-ul(data-name='list7-body')
									li.allItem
										label
											input.checkItem(type='checkbox' value='Все')
											span Все
									li
										label
											input.checkItem(type='checkbox' value='Россия')
											span
												| Россия
												sup 15
									li
										label
											input.checkItem(type='checkbox' value='Беларусь')
											span
												| Беларусь
												sup 35
									li
										label
											input.checkItem(type='checkbox' value='Испания')
											span
												| Испания
												sup 5
									li
										label
											input.checkItem(type='checkbox' value='Китай')
											span
												| Китай
												sup 7
					.col-xl-3.col-md-4.col-sm-6.filterItem
						.select-wrap(data-name='list8')
							.select-text.input(title='Высота, см')
								input(type='hidden' value='Высота, см')
								span Вес, кг
							.dropdown.scroll-always
								ul.def-ul(data-name='list8-body')
									li.allItem
										label
											input.checkItem(type='checkbox' value='Все')
											span Все
									li
										label
											input.checkItem(type='checkbox' value='Россия')
											span
												| Россия
												sup 15
									li
										label
											input.checkItem(type='checkbox' value='Беларусь')
											span
												| Беларусь
												sup 35
									li
										label
											input.checkItem(type='checkbox' value='Испания')
											span
												| Испания
												sup 5
									li
										label
											input.checkItem(type='checkbox' value='Китай')
											span
												| Китай
												sup 7
					.col-xl-3.col-md-4.col-sm-6.filterItem
						.select-wrap(data-name='list9')
							.select-text.input(title='Высота, см')
								input(type='hidden' value='Высота, см')
								span Вес, кг
							.dropdown.scroll-always
								ul.def-ul(data-name='list9-body')
									li.allItem
										label
											input.checkItem(type='checkbox' value='Все')
											span Все
									li
										label
											input.checkItem(type='checkbox' value='Россия')
											span
												| Россия
												sup 15
									li
										label
											input.checkItem(type='checkbox' value='Беларусь')
											span
												| Беларусь
												sup 35
									li
										label
											input.checkItem(type='checkbox' value='Испания')
											span
												| Испания
												sup 5
									li
										label
											input.checkItem(type='checkbox' value='Китай')
											span
												| Китай
												sup 7
					.col-xl-3.col-md-4.col-sm-6.filterItem
						.select-wrap(data-name='list8')
							.select-text.input(title='Высота, см')
								input(type='hidden' value='Высота, см')
								span Вес, кг
							.dropdown.scroll-always
								ul.def-ul(data-name='list8-body')
									li.allItem
										label
											input.checkItem(type='checkbox' value='Все')
											span Все
									li
										label
											input.checkItem(type='checkbox' value='Россия')
											span
												| Россия
												sup 15
									li
										label
											input.checkItem(type='checkbox' value='Беларусь')
											span
												| Беларусь
												sup 35
									li
										label
											input.checkItem(type='checkbox' value='Испания')
											span
												| Испания
												sup 5
									li
										label
											input.checkItem(type='checkbox' value='Китай')
											span
												| Китай
												sup 7
					.col-xl-3.col-md-4.col-sm-6.filterItem
						.select-wrap(data-name='list11')
							.select-text.input(title='Высота, см')
								input(type='hidden' value='Высота, см')
								span Вес, кг
							.dropdown.scroll-always
								ul.def-ul(data-name='list11-body')
									li.allItem
										label
											input.checkItem(type='checkbox' value='Все')
											span Все
									li
										label
											input.checkItem(type='checkbox' value='Россия')
											span
												| Россия
												sup 15
									li
										label
											input.checkItem(type='checkbox' value='Беларусь')
											span
												| Беларусь
												sup 35
									li
										label
											input.checkItem(type='checkbox' value='Испания')
											span
												| Испания
												sup 5
									li
										label
											input.checkItem(type='checkbox' value='Китай')
											span
												| Китай
												sup 7
					.col-xl-3.col-md-4.col-sm-6.filterItem
						.select-wrap(data-name='list10')
							.select-text.input(title='Цена')
								input(type='hidden' value='Цена' title='Цена')
								span Цена
							.dropdown.scroll-always
								ul.def-ul(data-name='list10-body')
									li
										label
											input.checkItem(type='checkbox' value='от дешевых')
											span
												| от дешевых
									li
										label
											input.checkItem(type='checkbox' value='от дорогих')
											span
												| от дорогих
									li
										label
											input.checkItem(type='checkbox' value='по оценке')
											span
												| по оценке
									li
										label
											input.checkItem(type='checkbox' value='по популярности')
											span
												| по популярности
									li
										label
											input.checkItem(type='checkbox' value='по числу отзывов')
											span
												| по числу отзывов
									li
										label
											input.checkItem(type='checkbox' value='по названию')
											span
												| по названию
					.col-xl-3.col-md-4.col-sm-6.filterItem
						.select-wrap
							.select-text.input(title='Цена от, ₽')
								input(type='text' value='' placeholder='Цена от, ₽')
						.select-wrap
							.select-text.input(title='до')
								input(type='text' value='' placeholder='до')
					.col-12
						.selected-fields.hide
						.filter__Btns
							.left
								button.defBtn.Btn-Flamenco1(type='button')
									| показать 35 000
									| предложений
								button.defBtn.Btn-Nobel
									| Сбросить
									i.close.icon-1-4_close
							button.defBtn.Btn-Flamenco1.Btn-filter(type='button')
								| все
								| фильтры
			<div class="filter-Btn">
					<i class="icon-7-1_filter"></i>
					<span>Открыть фильтры</span>
			</div>
		.filter__row.row
			.col-xl-3.col-md-4
				.filter__selectWrap
					+input('Возрастанию цены','select')
				//- .select-wrap(data-name='list20')
					.select-text.input(title='Возрастанию цены')
						input(type='hidden' value='Возрастанию цены' title='Возрастанию цены')
						span Возрастанию цены
					.dropdown.scroll-always
						ul.def-ul(data-name='list20-body')
							li
								label
									input.checkItem(type='checkbox' value='от дешевых')
									span
										| от дешевых
							li
								label
									input.checkItem(type='checkbox' value='от дорогих')
									span
										| от дорогих
							li
								label
									input.checkItem(type='checkbox' value='по оценке')
									span
										| по оценке
							li
								label
									input.checkItem(type='checkbox' value='по популярности')
									span
										| по популярности
							li
								label
									input.checkItem(type='checkbox' value='по числу отзывов')
									span
										| по числу отзывов
							li
								label
									input.checkItem(type='checkbox' value='по названию')
									span
										| по названию
	// end sFilter