// start .sFilter
.filter {
	
	&-wrap {
		background-color: #fff;
		margin-bottom: rem(15);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(30);
		}
	}

	&__Btns {
		@include media-breakpoint-down(sm) {
			align-items: center;
		}
	}

	&-inner {
		@media (min-width: 767px) {
			display: block !important;
		}
	}

	&__selectWrap {
		padding-bottom: rem(20);
	}

	&__row {

	}







	@media (min-width: 1351px) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sFilter

.subcategory-page {
	margin-bottom: rem(-20);

	.form-select {
		font-size: rem(14);
		padding: rem(11px) rem(20px);
	}

	.select-wrap .dropdown .selected label::after {
		border-color: var(--Flamenco);
	}

	.select-wrap .dropdown .selected label::before {
		color: var(--Flamenco);
	}

	.input {
		border-radius: 0;
		background-color: #fff;
	}

	.selected-fields {
		background-color: #fdf5e9;
		padding: rem(10) rem(20);
	}

	.left {
		@include media-breakpoint-down(sm) {
			flex-direction: column;
			align-items: center;
			width: 100%;

			.Btn-Nobel {
				display: block;
				margin-top: rem(10);
			}
		}
		.Btn-Flamenco1 {
			@include media-breakpoint-up(sm) {
				margin-right: rem(25);
			}
		}
	}

	.select-wrap.Notarrow .select-text {
		padding: rem(7) rem(10);
	}

	.Btn-Flamenco1 {
		border-width: 2px;
	}

}