
$h: em(2);

.toggle-menu-mobile {
	display: block;
	height: $h* 12;
	position: relative;
	color: $primary;
	font-size: 32px;
	width: 1em;
	&.on {
		color: #ffffff;
	}

	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	}

	span {
		@include a-cent(y);
	}

	span:before {


		top: $h * 2;
	}

	span:after {
		bottom: $h * 2;
	}

	span { 
		display: block;
	}

	span,
	span:after,
	span:before {
		// width: 32px;
		width: 1em;
		height: $h;
		background-color: currentColor;
		transition: all 0.3s;
		backface-visibility: hidden;
		border-radius: 6px;
		transform-origin: 50% 50%;
	}

	// &.on {
	// 	// opacity: 0;
	// }

	&.on span {
		background-color: transparent;
	}

	&.on span:after,
	&.on span:before {

		top: 0;
		bottom: 0;
		
	}

	&.on span:before {
		transform: rotate3d(0,0,1, 45deg);
	}

	&.on span:after {
		transform: rotate3d(0,0,1, -45deg);
	}
}
