<div class="mobile-modal" data-modal="mob-menu">
    <div class="menu-mobile">
        <span class="modal__inner-close"><i class="icon-1-4_close"></i></span>
        <div class="menu-mobile__inner">
            <ul class="def-ul list-line">
                <li>
                    <button class="logIn h-Flamenco defBtn">
                        <i class="icon-2-1_login"></i>
                        <span>Войти</span>
                    </button>
                    <a href="#" class="elect not-empty popup-desc-parent defLink">
                        <i class="icon-2-4_elect"></i>
                        <span>40</span>
                        <span class="popup-desc shadow-15">Избранное</span>
                    </a>
                    <a href="#" class="comparison popup-desc-parent defLink">
                        <i class="icon-1-5_comparison"></i>
                        <span>0</span>
                        <span class="popup-desc shadow-15">Сравнение</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="basket not-empty h-Flamenco defLink">
                        <i class="icon-1-1_basket"></i>
                        <div class="basket__inner">
                            <span class="def-p show-600">25</span>
                            <span class="def-p">25 товаров, 10 230,36 руб</span>
                        </div>
                    </a>
                </li>
                <li>
                    <div class="contact">
                        <a class="defLink h-Flamenco" href="tel:8(495)3747472">
                            <i class="icon-2-2_phone"></i>
                            <span>8 (495) 374-74-72</span>
                        </a>
                        <a class="defLink h-Flamenco" href="mailto:sales@staleron-group.ru">
                            <i class="icon-1-8_email"></i>
                            <span>sales@staleron-group.ru</span>
                        </a>
                    </div>
                </li>
            </ul>
            <div class="menu-mobile__list">
                <ul class="def-ul firstStage">
                    <li>
                        <div class="arrowDown item__inner">
                            <i class="icon-1-3_menu"></i>
                            <a href="catalog.html" class="defLink">Каталог товаров</a>
                        </div>
                        <ul class="def-ul secondStage">
                            <li>
                                <div class="arrowDown item__inner">
                                    <a href="#" class="defLink">Трубопроводная и запорно-регулирующая арматура</a>
                                </div>
                                <ul class="def-ul thirdStage">
                                    <li>
                                        <div class="arrowDown item__inner">
                                            <a href="#" class="defLink">Задвижки</a>
                                        </div>
                                        <ul class="def-ul fourth">
                                            <li>
                                                <div class="item__inner">
                                                    <a href="#" class="defLink">Стальные</a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item__inner">
                                                    <a href="#" class="defLink">Чугунные</a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item__inner">
                                                    <a href="#" class="defLink">Нержавеющие</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="item__inner">
                                            <a href="#" class="defLink">Задвижки шиберные</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item__inner">
                                            <a href="#" class="defLink">Затворы</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="arrowDown item__inner">
                                            <a href="#" class="defLink">Краны шаровые</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item__inner">
                                            <a href="#" class="defLink">Краны пробковые</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="arrowDown item__inner">
                                            <a href="#" class="defLink">Клапаны</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="arrowDown item__inner">
                                            <a href="#" class="defLink">Фильтры и грязевики</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item__inner">
                                            <a href="#" class="defLink">Электроприводы</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="arrowDown item__inner">
                                    <a href="#" class="defLink">Детали трубопроводов</a>
                                </div>
                            </li>
                            <li>
                                <div class="arrowDown item__inner">
                                    <a href="#" class="defLink">Опоры трубопроводов</a>
                                </div>
                            </li>
                            <li>
                                <div class="arrowDown item__inner">
                                    <a href="#" class="defLink">Контрольно-измерительные приборы</a>
                                </div>
                            </li>
                            <li>
                                <div class="arrowDown item__inner">
                                    <a href="#" class="defLink">Отопительное оборудование</a>
                                </div>
                            </li>
                            <li>
                                <div class="arrowDown item__inner">
                                    <a href="#" class="defLink">Компенсаторы</a>
                                </div>
                            </li>
                            <li>
                                <div class="arrowDown item__inner">
                                    <a href="#" class="defLink">Уплотнители и крепеж</a>
                                </div>
                            </li>
                            <li>
                                <div class="arrowDown item__inner">
                                    <a href="#" class="defLink">Трубы</a>
                                </div>
                            </li>
                            <li>
                                <div class="arrowDown item__inner">
                                    <a href="#" class="defLink">Фитинги</a>
                                </div>
                            </li>
                            <li>
                                <div class="arrowDown item__inner">
                                    <a href="#" class="defLink">Теплоизоляция</a>
                                </div>
                            </li>
                            <li>
                                <div class="arrowDown item__inner">
                                    <a href="#" class="defLink">Канализационное оборудование</a>
                                </div>
                            </li>
                            <li>
                                <div class="arrowDown item__inner">
                                    <a href="#" class="defLink">Противопожарное оборудование</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="arrowDown item__inner">
                            <i class="icon-2-5_services"></i>
                            <a href="#" class="defLink">Услуги</a>
                        </div>
                        <ul class="def-ul secondStage">
                            <li>
                                <div class="arrowDown item__inner">
                                    <a href="#" class="defLink">Металлообработка и металлоконструкции </a>
                                </div>
                                <ul class="def-ul thirdStage">
                                    <li>
                                        <div class="item__inner">
                                            <a href="#" class="defLink">Изготовление металлокнструкций</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item__inner">
                                            <a href="#" class="defLink">Лазерная резка</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item__inner">
                                            <a href="#" class="defLink">Лентопильная резка</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item__inner">
                                            <a href="#" class="defLink">Плазменная резка</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item__inner">
                                            <a href="#" class="defLink">Газовая резка</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item__inner">
                                            <a href="#" class="defLink">Сварка</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item__inner">
                                            <a href="#" class="defLink">Нарезка резьбы</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item__inner">
                                            <a href="#" class="defLink">Переточка фланцев под исполнение</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="arrowDown item__inner">
                                    <a href="#" class="defLink">ППУ, ВУС, ППМ, ЦПИ изоляция </a>
                                </div>
                            </li>
                            <li>
                                <div class="item__inner">
                                    <a href="#" class="defLink">Грунтовка и покраска металла</a>
                                </div>
                            </li>
                            <li>
                                <div class="arrowDown item__inner">
                                    <a href="#" class="defLink">Цинкование металла</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="arrowDown item__inner">
                            <i class="icon-1-2_brands"></i>
                            <a href="#" class="defLink">Бренды</a>
                        </div>
                        <ul class="def-ul secondStage">
                            <li>
                                <div class="item__inner">
                                    <ul class="def-ul brends-list">
                                        <li>
                                            <a href="#">A</a>
                                            <a href="#">B</a>
                                            <a href="#">C</a>
                                            <a href="#">D</a>
                                            <a href="#">E</a>
                                            <a href="#">F</a>
                                            <a href="#">G</a>
                                            <a href="#">H</a>
                                            <a href="#">I</a>
                                            <a href="#">J</a>
                                            <a href="#">K</a>
                                            <a href="#">L</a>
                                            <a href="#">M</a>
                                            <a href="#">N</a>
                                            <a href="#">O</a>
                                            <a href="#">P</a>
                                            <a href="#">Q</a>
                                            <a href="#">R</a>
                                            <a href="#">S</a>
                                            <a href="#">T</a>
                                            <a href="#">U</a>
                                            <a href="#">V</a>
                                            <a href="#">W</a>
                                            <a href="#">X</a>
                                            <a href="#">Y</a>
                                            <a href="#">Z</a>
                                        </li>
                                        <li>
                                            <a href="#">А</a>
                                            <a href="#">Б</a>
                                            <a href="#">В</a>
                                            <a href="#">Г</a>
                                            <a href="#">Д</a>
                                            <a href="#">Е</a>
                                            <a href="#">Ж</a>
                                            <a href="#">З</a>
                                            <a href="#">И</a>
                                            <a href="#">Й</a>
                                            <a href="#">К</a>
                                            <a href="#">Л</a>
                                            <a href="#">М</a>
                                            <a href="#">Н</a>
                                            <a href="#">О</a>
                                            <a href="#">П</a>
                                            <a href="#">Р</a>
                                            <a href="#">С</a>
                                            <a href="#">Т</a>
                                            <a href="#">У</a>
                                            <a href="#">Ф</a>
                                            <a href="#">Х</a>
                                            <a href="#">Ц</a>
                                            <a href="#">Ч</a>
                                            <a href="#">Ш</a>
                                            <a href="#">Щ</a>
                                            <a href="#">Ъ</a>
                                            <a href="#">Ы</a>
                                            <a href="#">Ь</a>
                                            <a href="#">Э</a>
                                            <a href="#">Ю</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="item__inner">
                                    <a class="defLink dashed" href="">все</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="arrowDown item__inner">
                            <a href="#" class="defLink">О компании </a>
                        </div>
                        <ul class="def-ul secondStage">
                            <li>
                                <div class="item__inner">
                                    <a href="#" class="defLink">О компании</a>
                                </div>
                            </li>
                            <li>
                                <div class="item__inner">
                                    <a href="#" class="defLink">Новости </a>
                                </div>
                            </li>
                            <li>
                                <div class="item__inner">
                                    <a href="#" class="defLink">Вакансии</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="arrowDown item__inner">
                            <a href="#" class="defLink">Клиентам</a>
                        </div>
                        <ul class="def-ul secondStage">
                            <li>
                                <div class="item__inner">
                                    <a href="#" class="defLink">Как сделать заказ </a>
                                </div>
                            </li>
                            <li>
                                <div class="item__inner">
                                    <a href="#" class="defLink">Оплата</a>
                                </div>
                            </li>
                            <li>
                                <div class="item__inner">
                                    <a href="#" class="defLink">Банковские реквизиты</a>
                                </div>
                            </li>
                            <li>
                                <div class="item__inner">
                                    <a href="#" class="defLink">Юридическая информация</a>
                                </div>
                            </li>
                            <li>
                                <div class="item__inner">
                                    <a href="#" class="defLink">Статьи</a>
                                </div>
                            </li>
                            <li>
                                <div class="item__inner">
                                    <a href="#" class="defLink">Частые вопросы</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="arrowDown item__inner">
                            <a href="#" class="defLink">Контакты</a>
                        </div>
                        <ul class="def-ul secondStage">
                            <li>
                                <div class="item__inner">
                                    <a href="#" class="defLink">Контактная информация</a>
                                </div>
                            </li>
                            <li>
                                <div class="item__inner">
                                    <a href="#" class="defLink">Напишите нам</a>
                                </div>
                            </li>
                            <li>
                                <div class="item__inner">
                                    <a href="#" class="defLink">Обратный звонок</a>
                                </div>
                            </li>
                            <li>
                                <div class="item__inner">
                                    <a href="#" class="defLink">Написать руководителю</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="item__inner">
                            <a href="#" class="defLink">Доставка</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- <div class="menu-mobile">
    <div class="menu-mobile__inner">
        <ul class="def-ul list-line">
            <li>
                <button class="logIn h-Flamenco defBtn">
                    <i class="icon-2-1_login"></i>
                    <span>Войти</span>
                </button>
                <a href="#" class="elect not-empty popup-desc-parent defLink">
                    <i class="icon-2-4_elect"></i>
                    <span>40</span>
                    <span class="popup-desc shadow-15">Избранное</span>
                </a>
                <a href="#" class="comparison popup-desc-parent defLink">
                    <i class="icon-1-5_comparison"></i>
                    <span>0</span>
                    <span class="popup-desc shadow-15">Сравнение</span>
                </a>
            </li>
            <li>
                <a href="#" class="basket not-empty h-Flamenco defLink">
                    <i class="icon-1-1_basket"></i>
                    <div class="basket__inner">
                        <span class="def-p show-600">25</span>
                        <span class="def-p">25 товаров, 10 230,36 руб</span>
                    </div>
                </a>
            </li>
            <li>
                <div class="contact">
                    <a class="defLink h-Flamenco" href="tel:8(495)3747472">
                        <i class="icon-2-2_phone"></i>
                        <span>8 (495) 374-74-72</span>
                    </a>
                    <a class="defLink h-Flamenco" href="mailto:sales@staleron-group.ru">
                        <i class="icon-1-8_email"></i>
                        <span>sales@staleron-group.ru</span>
                    </a>
                </div>
            </li>
        </ul>
        <div class="menu-mobile__list">
            <ul class="def-ul firstStage">
                <li>
                    <div class="arrowDown item__inner">
                        <i class="icon-1-3_menu"></i>
                        <a href="catalog.html" class="defLink">Каталог товаров</a>
                    </div>
                    <ul class="def-ul secondStage">
                        <li>
                            <div class="arrowDown item__inner">
                                <a href="#" class="defLink">Трубопроводная и запорно-регулирующая арматура</a>
                            </div>
                            <ul class="def-ul thirdStage">
                                <li>
                                    <div class="arrowDown item__inner">
                                        <a href="#" class="defLink">Задвижки</a>
                                    </div>
                                    <ul class="def-ul fourth">
                                        <li>
                                            <div class="item__inner">
                                                <a href="#" class="defLink">Стальные</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item__inner">
                                                <a href="#" class="defLink">Чугунные</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item__inner">
                                                <a href="#" class="defLink">Нержавеющие</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="item__inner">
                                        <a href="#" class="defLink">Задвижки шиберные</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="item__inner">
                                        <a href="#" class="defLink">Затворы</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="arrowDown item__inner">
                                        <a href="#" class="defLink">Краны шаровые</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="item__inner">
                                        <a href="#" class="defLink">Краны пробковые</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="arrowDown item__inner">
                                        <a href="#" class="defLink">Клапаны</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="arrowDown item__inner">
                                        <a href="#" class="defLink">Фильтры и грязевики</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="item__inner">
                                        <a href="#" class="defLink">Электроприводы</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="arrowDown item__inner">
                                <a href="#" class="defLink">Детали трубопроводов</a>
                            </div>
                        </li>
                        <li>
                            <div class="arrowDown item__inner">
                                <a href="#" class="defLink">Опоры трубопроводов</a>
                            </div>
                        </li>
                        <li>
                            <div class="arrowDown item__inner">
                                <a href="#" class="defLink">Контрольно-измерительные приборы</a>
                            </div>
                        </li>
                        <li>
                            <div class="arrowDown item__inner">
                                <a href="#" class="defLink">Отопительное оборудование</a>
                            </div>
                        </li>
                        <li>
                            <div class="arrowDown item__inner">
                                <a href="#" class="defLink">Компенсаторы</a>
                            </div>
                        </li>
                        <li>
                            <div class="arrowDown item__inner">
                                <a href="#" class="defLink">Уплотнители и крепеж</a>
                            </div>
                        </li>
                        <li>
                            <div class="arrowDown item__inner">
                                <a href="#" class="defLink">Трубы</a>
                            </div>
                        </li>
                        <li>
                            <div class="arrowDown item__inner">
                                <a href="#" class="defLink">Фитинги</a>
                            </div>
                        </li>
                        <li>
                            <div class="arrowDown item__inner">
                                <a href="#" class="defLink">Теплоизоляция</a>
                            </div>
                        </li>
                        <li>
                            <div class="arrowDown item__inner">
                                <a href="#" class="defLink">Канализационное оборудование</a>
                            </div>
                        </li>
                        <li>
                            <div class="arrowDown item__inner">
                                <a href="#" class="defLink">Противопожарное оборудование</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="arrowDown item__inner">
                        <i class="icon-2-5_services"></i>
                        <a href="#" class="defLink">Услуги</a>
                    </div>
                    <ul class="def-ul secondStage">
                        <li>
                            <div class="arrowDown item__inner">
                                <a href="#" class="defLink">Металлообработка и металлоконструкции </a>
                            </div>
                            <ul class="def-ul thirdStage">
                                <li>
                                    <div class="item__inner">
                                        <a href="#" class="defLink">Изготовление металлокнструкций</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="item__inner">
                                        <a href="#" class="defLink">Лазерная резка</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="item__inner">
                                        <a href="#" class="defLink">Лентопильная резка</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="item__inner">
                                        <a href="#" class="defLink">Плазменная резка</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="item__inner">
                                        <a href="#" class="defLink">Газовая резка</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="item__inner">
                                        <a href="#" class="defLink">Сварка</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="item__inner">
                                        <a href="#" class="defLink">Нарезка резьбы</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="item__inner">
                                        <a href="#" class="defLink">Переточка фланцев под исполнение</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="arrowDown item__inner">
                                <a href="#" class="defLink">ППУ, ВУС, ППМ, ЦПИ изоляция </a>
                            </div>
                        </li>
                        <li>
                            <div class="item__inner">
                                <a href="#" class="defLink">Грунтовка и покраска металла</a>
                            </div>
                        </li>
                        <li>
                            <div class="arrowDown item__inner">
                                <a href="#" class="defLink">Цинкование металла</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="arrowDown item__inner">
                        <i class="icon-1-2_brands"></i>
                        <a href="#" class="defLink">Бренды</a>
                    </div>
                    <ul class="def-ul secondStage">
                        <li>
                            <div class="item__inner">
                                <ul class="def-ul brends-list">
                                    <li>
                                        <a href="#">A</a>
                                        <a href="#">B</a>
                                        <a href="#">C</a>
                                        <a href="#">D</a>
                                        <a href="#">E</a>
                                        <a href="#">F</a>
                                        <a href="#">G</a>
                                        <a href="#">H</a>
                                        <a href="#">I</a>
                                        <a href="#">J</a>
                                        <a href="#">K</a>
                                        <a href="#">L</a>
                                        <a href="#">M</a>
                                        <a href="#">N</a>
                                        <a href="#">O</a>
                                        <a href="#">P</a>
                                        <a href="#">Q</a>
                                        <a href="#">R</a>
                                        <a href="#">S</a>
                                        <a href="#">T</a>
                                        <a href="#">U</a>
                                        <a href="#">V</a>
                                        <a href="#">W</a>
                                        <a href="#">X</a>
                                        <a href="#">Y</a>
                                        <a href="#">Z</a>
                                    </li>
                                    <li>
                                        <a href="#">А</a>
                                        <a href="#">Б</a>
                                        <a href="#">В</a>
                                        <a href="#">Г</a>
                                        <a href="#">Д</a>
                                        <a href="#">Е</a>
                                        <a href="#">Ж</a>
                                        <a href="#">З</a>
                                        <a href="#">И</a>
                                        <a href="#">Й</a>
                                        <a href="#">К</a>
                                        <a href="#">Л</a>
                                        <a href="#">М</a>
                                        <a href="#">Н</a>
                                        <a href="#">О</a>
                                        <a href="#">П</a>
                                        <a href="#">Р</a>
                                        <a href="#">С</a>
                                        <a href="#">Т</a>
                                        <a href="#">У</a>
                                        <a href="#">Ф</a>
                                        <a href="#">Х</a>
                                        <a href="#">Ц</a>
                                        <a href="#">Ч</a>
                                        <a href="#">Ш</a>
                                        <a href="#">Щ</a>
                                        <a href="#">Ъ</a>
                                        <a href="#">Ы</a>
                                        <a href="#">Ь</a>
                                        <a href="#">Э</a>
                                        <a href="#">Ю</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="item__inner">
                                <a class="defLink dashed" href="">все</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="arrowDown item__inner">
                        <a href="#" class="defLink">О компании </a>
                    </div>
                    <ul class="def-ul secondStage">
                        <li>
                            <div class="item__inner">
                                <a href="#" class="defLink">О компании</a>
                            </div>
                        </li>
                        <li>
                            <div class="item__inner">
                                <a href="#" class="defLink">Новости </a>
                            </div>
                        </li>
                        <li>
                            <div class="item__inner">
                                <a href="#" class="defLink">Вакансии</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="arrowDown item__inner">
                        <a href="#" class="defLink">Клиентам</a>
                    </div>
                    <ul class="def-ul secondStage">
                        <li>
                            <div class="item__inner">
                                <a href="#" class="defLink">Как сделать заказ </a>
                            </div>
                        </li>
                        <li>
                            <div class="item__inner">
                                <a href="#" class="defLink">Оплата</a>
                            </div>
                        </li>
                        <li>
                            <div class="item__inner">
                                <a href="#" class="defLink">Банковские реквизиты</a>
                            </div>
                        </li>
                        <li>
                            <div class="item__inner">
                                <a href="#" class="defLink">Юридическая информация</a>
                            </div>
                        </li>
                        <li>
                            <div class="item__inner">
                                <a href="#" class="defLink">Статьи</a>
                            </div>
                        </li>
                        <li>
                            <div class="item__inner">
                                <a href="#" class="defLink">Частые вопросы</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="arrowDown item__inner">
                        <a href="#" class="defLink">Контакты</a>
                    </div>
                    <ul class="def-ul secondStage">
                        <li>
                            <div class="item__inner">
                                <a href="#" class="defLink">Контактная информация</a>
                            </div>
                        </li>
                        <li>
                            <div class="item__inner">
                                <a href="#" class="defLink">Напишите нам</a>
                            </div>
                        </li>
                        <li>
                            <div class="item__inner">
                                <a href="#" class="defLink">Обратный звонок</a>
                            </div>
                        </li>
                        <li>
                            <div class="item__inner">
                                <a href="#" class="defLink">Написать руководителю</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="item__inner">
                        <a href="#" class="defLink">Доставка</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div> -->