<div class="feedback">
    <form action="">
        <div class="feedback__inner">
            <h2 class="section-title"><span>закажите</span> обратный звонок</h2>
            <div class="feedback-brims">
                <label class="input-wrap">
                    <input type="text" class="input" placeholder="Ваше имя">
                </label>
                <label class="input-wrap">
                    <input type="tel" class="input" placeholder="Телефон">
                </label>
                <button class="defBtn Btn Btn-Wedgewood" type="button" >отправить</button>
            </div>
        </div>
    </form>
</div>